Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
    - id: cmake-format
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-16-83817c2f/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^tests/unit/common/gcode/.*\.gcode$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/(?!
        Marlin/src(/gcode)?/feature/prusa/|
        Marlin/src(/gcode)?/feature/input_shaper/|
        Marlin/src(/gcode)?/feature/pressure_advance/|
        Marlin/src(/gcode)?/feature/precise_stepping/|
        Marlin/src/module/prusa/|
        Marlin/src/gcode/calibrate/M958.cpp
      )|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/Drivers/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Prusa-Firmware-MMU/|
    ^lib/Middlewares/Third_Party/CycloneTCP/|
    ^lib/Middlewares/Third_Party/mbedtls/|
    ^lib/liblightmodbus/|
    ^lib/QR/|
    ^lib/LiquidCrystal_I2C/|
    ^lib/CrashCatcher/|
    ^lib/libbgcode/|
    ^lib/cpp-std-extensions/|
    ^lib/heatshrink/
  )

phstep: Avoid including opposing features to avoid mistakes
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
Due: none

dwarf: Do not set accelerometer scale
  src/puppy/dwarf/accelerometer.cpp
Due: clang-format

Use new CircularBuffer where possible
  lib/Marlin/Marlin/src/module/prusa/accelerometer.h
  lib/Marlin/Marlin/src/module/prusa/accelerometer_remote.cpp
  src/puppy/dwarf/accelerometer.cpp
  src/puppy/dwarf/loadcell.cpp
Due: clang-format

CI: Also build XL variant with burst stepping
  CMakePresets.json
  utils/holly/build-pr.jenkins
  utils/presets/presets.json
Due: generate-cmake-presets

phstep: Fix timing race in TMC task locking
  src/common/trinamic.cpp
Due: clang-format

debug: Remove verbose union aliases in XYZEval marlin types
  utils/gdb/init.gdb
  utils/gdb/marlin.py
Due: none

PS: Use correct type for step event flags in split events
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

Fixing Z move dialog left rect overlaying Z axis text
  src/gui/dialogs/DialogMoveZ.hpp
Due: clang-format

PS/debug: Add a simple PreciseStepping::MoveSegmentQueue prettyprinter
  utils/gdb/precise_stepping.py
Due: none

Changing text so it doesn't contain capital u. And rectangles resized to fit longest word used.
  src/gui/dialogs/DialogMoveZ.cpp
  src/gui/dialogs/DialogMoveZ.hpp
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
Due: clang-format

TEST: Temporarily disable MCU MAXTEMP checks in phase stepping
  src/common/marlin_server.cpp
Due: clang-format

PS: Rename move_t::move_t to move_t::move_time for clarity
  lib/Marlin/Marlin/src/feature/input_shaper/input_shaper.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/precise_stepping/common.hpp
  lib/Marlin/Marlin/src/feature/precise_stepping/internal.hpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  lib/Marlin/Marlin/src/feature/pressure_advance/pressure_advance.cpp
Due: clang-format

phstep: Include missing <optional> for gcc 13
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
Due: none

Get rid of index oob warning/error
  lib/Marlin/Marlin/src/HAL/HAL_STM32_F4_F7/STM32F4/timers.cpp
  lib/Marlin/Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/timers.cpp
  lib/Marlin/Marlin/src/HAL/HAL_STM32_F4_F7/STM32G0/timers.cpp
Due: none

phstep: Drop dependency on delayMicroseconds
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
Due: none

Fix safetytimer reset on setting interval
  src/marlin_stubs/feature/safety_timer.cpp
Due: clang-format

Fix "ignoring packed" warnings
  src/common/otp_types.hpp
  src/common/power_panic.cpp
Due: clang-format

phstep: Remove unnecessary include
  lib/Marlin/Marlin/src/module/stepper.h
Due: none

holly: No green menu items on phase_stepping branch
  utils/holly/build-pr.jenkins
Due: none

Fix multiple definitions error when building puppies
  src/device/stm32g0/linker/stm32g070rb.ld
  src/device/stm32g0/linker/stm32g070rb_boot.ld
Due: none

Add touch support for toggling between print finish screens
  src/gui/screen_printing.cpp
Due: clang-format

GUI: Check SideLed_LcdSelector before using
  src/guiapi/src/led_lcd_cs_selector.cpp
Due: clang-format

MDNS: Rip out separate hostname
  include/buddy/lwippools.h
  lib/WUI/mdns/mdns.c
  lib/WUI/mdns/mdns.h
  lib/WUI/mdns/mdns_domain.c
  lib/WUI/mdns/mdns_domain.h
  lib/WUI/mdns/mdns_out.c
  lib/WUI/mdns/mdns_priv.h
  lib/WUI/wui.cpp
Due: clang-format

Fix layout on last phase stepping screen"
  src/gui/wizard/selftest_frame_phase_stepping.cpp
Due: clang-format

phstep: Introduce additional checks for the sparse map
  lib/Marlin/Marlin/src/feature/phase_stepping/burst_stepper.cpp
Due: none

phstep: Improved handling for the burst sparse map
  lib/Marlin/Marlin/src/feature/phase_stepping/burst_stepper.cpp
Due: none

Bump version to 6.0.0
  version.txt
Due: none

Separate frame layout from ESP wizard
  src/gui/CMakeLists.txt
  src/gui/esp_frame_qr.cpp
  src/gui/esp_frame_qr.hpp
  src/gui/frame_qr_layout.cpp
  src/gui/frame_qr_layout.hpp
Due: clang-format

phstep: Optimize max index calculation
  lib/Marlin/Marlin/src/feature/phase_stepping/burst_stepper.cpp
Due: none

phstep: Avoid unnecessary indirection of the setup_buffer
  lib/Marlin/Marlin/src/feature/phase_stepping/burst_stepper.cpp
Due: none

dev: Cast correct address when fetching register data
  src/common/bsod_gui.cpp
Due: clang-format

Fix old cmake vesion in CI and readmes
  utils/holly/build-pr.jenkins
  utils/translations_and_fonts/README_FONTS.md
  utils/translations_and_fonts/README_TRANSLATIONS.md
  utils/translations_and_fonts/script.sh
Due: none

Fix missing <tuple>include in marlin_vars.hpp
  src/common/marlin_vars.hpp
Due: clang-format

Fix some fonts not being constexpr
  src/gui/res/cc/font_regular_11x18.hpp
  src/gui/res/cc/font_regular_7x13.hpp
Due: clang-format

Run MDNS responder
  ProjectOptions.cmake
  include/buddy/lwipopts.h
  include/buddy/lwippools.h
  lib/WUI/wui.cpp
Due: clang-format

xl: Fix std::pair uninitialized warning by return a optional value
  include/puppies/puppy_crash_dump.hpp
  src/puppies/puppy_crash_dump.cpp
Due: clang-format

Replace marlin server queue
  src/common/config.h
  src/common/marlin_client.cpp
  src/common/marlin_server.cpp
  src/common/marlin_server.hpp
Due: clang-format

PS: Improve (split) step time checks
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

Do not link libc, libm and libgcc at all
  src/device/stm32f4/linker/stm32f407vg.ld
  src/device/stm32f4/linker/stm32f407vg_boot.ld
  src/device/stm32f4/linker/stm32f42x.ld
  src/device/stm32f4/linker/stm32f42x_boot.ld
Due: none

MDNS: Static service records
  include/buddy/lwippools.h
  lib/WUI/mdns/mdns.c
  lib/WUI/mdns/mdns.h
  lib/WUI/mdns/mdns_domain.c
  lib/WUI/mdns/mdns_domain.h
  lib/WUI/mdns/mdns_out.c
  lib/WUI/mdns/mdns_priv.h
  lib/WUI/wui.cpp
Due: clang-format
