Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
    - id: cmake-format
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-16-83817c2f/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: python3-requirements
      name: python3-requirements
      description: Check if requirements.txt matches the buildsystem.
      entry: 'utils/check-requirements.py'
      language: script
      files: requirements\.txt$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^lib/Catch2/|
    ^lib/CrashCatcher/|
    ^lib/Drivers/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/serial-flasher/|
    ^lib/Marlin/(?!
        Marlin/src(/gcode)?/feature/prusa/|
        Marlin/src(/gcode)?/feature/input_shaper/|
        Marlin/src(/gcode)?/feature/pressure_advance/|
        Marlin/src(/gcode)?/feature/precise_stepping/|
        Marlin/src(/gcode)?/feature/phase_stepping/|
        Marlin/src/module/prusa/|
        Marlin/src/gcode/calibrate/M958.cpp
      )|
    ^lib/Middlewares/Third_Party/FatFs/|
    ^lib/Middlewares/Third_Party/FreeRTOS/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/|
    ^lib/Prusa-Error-Codes/|
    ^lib/Prusa-Firmware-MMU/|
    ^lib/QR/|
    ^lib/Segger|
    ^lib/TMCStepper/|
    ^lib/cpp-std-extensions/|
    ^lib/heatshrink/|
    ^lib/inih/|
    ^lib/jsmn/|
    ^lib/libbgcode/|
    ^lib/liblightmodbus/|
    ^lib/libsysbase/|
    ^lib/printf|
    ^lib/tinyusb/|
    ^tests/stubs/FreeRTOS|
    ^tests/unit/common/gcode/.*\.gcode$|
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
  )

Properly initialize XL accelerometer
  src/puppy/dwarf/accelerometer.cpp
Due: clang-format

Implement new language in translation provider and unit tests
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_CPUFLASH.hpp
  src/lang/translation_provider_FILE.cpp
  tests/unit/gui/window/tests_layout.cpp
  tests/unit/lang/translator/option/enable_translation_jp.h
  tests/unit/lang/translator/providerCPUFLASH.cpp
  tests/unit/lang/translator/providerFILE.cpp
Due: clang-format

Set hotend type to stock-sock on Mk4 by default
  src/persistent_stores/store_instances/config_store/store_definition.cpp
Due: clang-format

ScreenPrinterSetup: Fix layout on Mini
  src/gui/screen_printer_setup.cpp
Due: clang-format

Make default hostnames canonical
  src/common/config.h
Due: clang-format

Tool for killing CRCs
  utils/crckill/.gitignore
  utils/crckill/Cargo.lock
  utils/crckill/Cargo.toml
  utils/crckill/README.md
  utils/crckill/src/main.rs
Due: none

WindowButton: Make callback ctor arg optional
  src/guiapi/include/window_text.hpp
Due: clang-format

Uppercase extended_printer_type_names
  include/common/extended_printer_type.hpp
Due: clang-format

Unify wifi & lan hostname
  lib/WUI/wui_api.cpp
  src/connect/planner.cpp
  src/gui/MItem_network.cpp
  src/gui/MItem_network.hpp
  src/gui/screen_menu_network_settings.hpp
  src/persistent_stores/store_instances/config_store/migrations.cpp
  src/persistent_stores/store_instances/config_store/migrations.hpp
  src/persistent_stores/store_instances/config_store/store_definition.hpp
  tests/unit/connect/config_store/store_instance.hpp
Due: clang-format

CRC checks: On/off switch
  src/common/gcode/gcode_reader_binary.cpp
  src/gui/MItem_menus.cpp
  src/gui/MItem_menus.hpp
  src/gui/screen_menu_settings.hpp
  src/gui/screen_menu_tune.hpp
  src/persistent_stores/store_instances/config_store/store_definition.hpp
  tests/stubs/config_store/store_instance.hpp
  tests/unit/connect/CMakeLists.txt
  tests/unit/connect/config_store/store_instance.cpp
Due: clang-format

bgcode: CRC check of the start reported correctly
  src/common/gcode/gcode_info.cpp
  src/common/gcode/gcode_reader_binary.cpp
  src/common/gcode/gcode_reader_binary.hpp
  src/common/gcode/gcode_reader_closed.hpp
  src/common/gcode/gcode_reader_interface.hpp
  src/common/gcode/gcode_reader_plaintext.cpp
  src/common/gcode/gcode_reader_plaintext.hpp
  src/common/media.cpp
  tests/unit/common/gcode/gcode_reader.cpp
Due: clang-format

Speed-up accelerometer data clear
  lib/Marlin/Marlin/src/module/prusa/accelerometer_remote.cpp
Due: clang-format

Selftest: get rid of obnoxious creator_XX functions
  src/gui/ScreenSelftest.cpp
  src/gui/ScreenSelftest.hpp
Due: clang-format

WiEnumSwitch: Make item translation optional
  src/gui/MItem_hardware.hpp
  src/guiapi/include/window_menu_enum_switch.hpp
  src/guiapi/src/window_menu_enum_switch.cpp
Due: clang-format

Make printer hostname configurable
  src/gui/MItem_network.cpp
  src/gui/MItem_network.hpp
Due: clang-format

Add MINI build configuration for japanese translations
  CMakePresets.json
  utils/presets/presets.json
Due: generate-cmake-presets

ScreenPrinterSetup: Add MI_NOZZLE_DIAMETER_HELP
  src/gui/screen_printer_setup.cpp
  src/gui/screen_printer_setup.hpp
Due: clang-format

ScreenPrinterSetup: Use anonymous namespace
  src/gui/screen_printer_setup.cpp
Due: clang-format

Add japanese lang option to FW + adapt to character set option
  ProjectOptions.cmake
  src/common/utils/font_character_sets.hpp
  src/gui/fonts.hpp
  src/gui/screen_menu_languages.cpp
  src/gui/screen_menu_languages.hpp
  src/guiapi/src/display_helper.cpp
  src/lang/CMakeLists.txt
  tests/unit/lang/translator/fnt-indices.cpp
  tests/unit/lang/translator/fnt-indices.hpp
Due: clang-format

Do not translate extended_printer_type_names
  include/common/extended_printer_type.hpp
  src/gui/MItem_hardware.hpp
Due: clang-format

Fix bug in MI_EXTENDED_PRINTER_TYPE
  src/gui/MItem_hardware.hpp
Due: clang-format

Tests for JIT CRC checks
  tests/unit/common/gcode/CMakeLists.txt
  tests/unit/common/gcode/gcode_reader.cpp
  tests/unit/common/gcode/test_bad_crc_first_gcode.bgcode
  tests/unit/common/gcode/test_bad_crc_gcode.bgcode
  tests/unit/common/gcode/test_bad_crc_intro.bgcode
Due: clang-format

MMU rework: open calibration only sometimes
  src/gui/MItem_mmu.cpp
Due: clang-format

git subrepo pull --force lib/Prusa-Error-Codes
  lib/Prusa-Error-Codes/.gitrepo
  lib/Prusa-Error-Codes/yaml/buddy-error-codes.yaml
Due: none

Add more comfy overload for Screens::Open
  src/gui/ScreenHandler.hpp
Due: clang-format

Add new resources for japanese
  src/gui/res/fnt_src/11x18px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/11x19px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/12x21px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/13x22px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/30x53px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/7x13px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/9x16px_migu-1m-regular_katakana.png
  src/gui/res/mini_used_imgs.txt
  src/gui/res/png/flag_jp_16x11.png
  src/gui/res/png_before_resize/flag_jp_16x11.png
Due: none

ScreenPrinterSetup: Show on first start
  src/gui/screen_printer_setup.cpp
  src/gui/screen_splash.cpp
  src/persistent_stores/store_instances/config_store/store_definition.cpp
  src/persistent_stores/store_instances/config_store/store_definition.hpp
Due: clang-format

A const can't hurt
  src/puppy/dwarf/accelerometer.cpp
Due: clang-format

Regenerate all fonts
  src/gui/res/cc/font_bold_11x19.hpp
  src/gui/res/cc/font_bold_13x22.hpp
  src/gui/res/cc/font_bold_30x53.hpp
  src/gui/res/cc/font_regular_11x18.hpp
  src/gui/res/cc/font_regular_7x13.hpp
  src/gui/res/cc/font_regular_9x16.hpp
  src/gui/res/fnt_png/font_bold_11x19.png
  src/gui/res/fnt_png/font_bold_11x19_preview.png
  src/gui/res/fnt_png/font_bold_13x22.png
  src/gui/res/fnt_png/font_bold_13x22_preview.png
  src/gui/res/fnt_png/font_bold_30x53.png
  src/gui/res/fnt_png/font_bold_30x53_preview.png
  src/gui/res/fnt_png/font_regular_11x18.png
  src/gui/res/fnt_png/font_regular_11x18_preview.png
  src/gui/res/fnt_png/font_regular_7x13.png
  src/gui/res/fnt_png/font_regular_7x13_preview.png
  src/gui/res/fnt_png/font_regular_9x16.png
  src/gui/res/fnt_png/font_regular_9x16_preview.png
  src/guiapi/include/fnt-digits-indices.ipp
  src/guiapi/include/fnt-full-indices.ipp
  src/guiapi/include/fnt-standard-indices.ipp
Due: clang-format

Change loadcell selftest font from LARGE to BIG
  src/gui/wizard/selftest_frame_loadcell.cpp
Due: clang-format

Rewrite font generation scripts to have character set option
  utils/translations_and_fonts/README_FONTS.md
  utils/translations_and_fonts/README_TRANSLATIONS.md
  utils/translations_and_fonts/bin2cc.py
  utils/translations_and_fonts/font.py
  utils/translations_and_fonts/generate_all_fonts.sh
  utils/translations_and_fonts/generate_single_font.sh
  utils/translations_and_fonts/lang.py
  utils/translations_and_fonts/replace_unsupported_chars.py
Due: none

Update POT, PO & MO files (Translations)
  src/lang/po/Prusa-Firmware-Buddy.pot
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/jp/Prusa-Firmware-Buddy_jp.mo
  src/lang/po/jp/Prusa-Firmware-Buddy_jp.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Clear the accelerometer between each axis measurement
  src/marlin_stubs/M1959.cpp
Due: clang-format

Change enclosure menu item text
  src/gui/MItem_enclosure.hpp
Due: clang-format

Fix rare condition, where we could send UNKOWN state to connect.
  src/state/printer_state.cpp
Due: clang-format

Implement ScreenPrinterSetup
  ProjectOptions.cmake
  src/gui/CMakeLists.txt
  src/gui/screen_printer_setup.cpp
  src/gui/screen_printer_setup.hpp
Due: clang-format

Change USB product str for MK4S
  src/buddy/usb_device.cpp
Due: clang-format

Update translations: german MO file
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
Due: none

Make ScreenPrinterSetup part of selftest
  src/gui/include_MINI/selftest_snake_config.cpp
  src/gui/include_MINI/selftest_snake_config.hpp
  src/gui/include_MK3.5/selftest_snake_config.cpp
  src/gui/include_MK3.5/selftest_snake_config.hpp
  src/gui/include_MK4/selftest_snake_config.cpp
  src/gui/include_MK4/selftest_snake_config.hpp
  src/gui/include_XL/selftest_snake_config.cpp
  src/gui/include_XL/selftest_snake_config.hpp
  src/gui/screen_menu_selftest_snake.cpp
Due: clang-format

Contributing.md: Add anonymous namespace recommendation
  doc/contributing.md
Due: none
