Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-16-83817c2f/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

python3-requirements:
  name: python3-requirements
  description: Check if requirements.txt matches the buildsystem.
  entry: utils/check-requirements.py
  language: script

Belt tuning: Use linearly_varying_amplitude for iX
  src/common/feature/belt_tuning/printer_belt_parameters.hpp
Due: clang-format

Belt tuning: Instruct user to tighten/loose the belts
  src/gui/wizard/screen_belt_tuning_wizard.cpp
Due: clang-format

Belt tuning: Adjust params for XL
  src/common/feature/belt_tuning/printer_belt_parameters.hpp
Due: clang-format

vibrate_measure: Refactor progress_hook
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
  lib/Marlin/Marlin/src/gcode/calibrate/M958.hpp
  src/marlin_stubs/M1959.cpp
Due: clang-format

Add helper function set_timed for timed Load/Unload phases
  src/marlin_stubs/include/pause_stubbed.hpp
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

1T printers: Toolhead -> Printhead
  src/gui/MItem_menus.cpp
  src/gui/screen/toolhead/screen_toolhead_settings.cpp
Due: clang-format

Revert "Belt tuning: Re-enable for XL"
  ProjectOptions.cmake
Due: none

hal: Simplify expressions further
  src/common/Pin.hpp
Due: clang-format

hal: Introduce readb/writeb functions for all Pin types
  src/common/Pin.hpp
Due: clang-format

cleanup: Avoid useless casts by using Pin::readb/writeb
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  src/puppy/dwarf/Cheese.hpp
Due: clang-format

Add Connect icon for header
  src/gui/res/mini_used_imgs.txt
  src/gui/res/png/connect_16x16.png
Due: none

Implement connect header icon logic
  src/gui/window_header.cpp
  src/gui/window_header.hpp
Due: clang-format

Accelerometer: Fix initial garbage on CLK
  src/hw/SparkFunLIS2DH.cpp
Due: clang-format

Dock calibration: Inline texts
  src/gui/wizard/selftest_frame_dock.cpp
  src/gui/wizard/selftest_frame_dock.hpp
Due: clang-format

Dock calibration: Use StringViewUtf8Parameters
  src/gui/wizard/selftest_frame_dock.cpp
  src/gui/wizard/selftest_frame_dock.hpp
Due: clang-format

Selftest: Fix failing assert in phstep restorer
  src/common/selftest/selftest_part.cpp
Due: clang-format

Dock calibration: Move park fail test one phase sooner
  src/common/selftest/selftest_dock.cpp
Due: clang-format

Prepare MCU_IS_* macros for other STM32 families
  include/device/mcu.h
Due: clang-format

Initialize peripherals based on board instead of mcu
  src/device/stm32f4/peripherals.cpp
Due: clang-format

Improve peripheral initialization consistency
  include/device/stm32f4/device/peripherals.h
  src/common/hwio_XLBuddy.cpp
Due: clang-format

Prepare CMake system for other STM32 families
  CMakeLists.txt
  src/device/CMakeLists.txt
  src/segger/CMakeLists.txt
Due: none

Prepare MCU_IS_* macro call sites for other STM32 families
  include/stm32f4_hal/FreeRTOSConfig.h
  src/common/Pin.cpp
  src/common/timer_defaults.h
Due: clang-format

Fix condition which could not happen
  include/stm32f4_hal/FreeRTOSConfig.h
Due: clang-format

Remove unused MCU_IS_* macros
  include/device/mcu.h
Due: clang-format

Move #define MOTHERBOARD into respective Configuration.h
  CMakeLists.txt
  include/marlin/Configuration.h
  include/marlin/Configuration_MINI.h
  include/marlin/Configuration_MK3.5.h
  include/marlin/Configuration_MK4.h
  include/marlin/Configuration_XL.h
  include/marlin/Configuration_XL_DEV_KIT.h
  include/marlin/Configuration_XL_Dwarf.h
  include/marlin/Configuration_iX.h
Due: clang-format

Add Serial USB support based on board, not MCU
  CMakeLists.txt
  ProjectOptions.cmake
  lib/Arduino_Core_Buddy/CMakeLists.txt
Due: none

Remove unused #define HAS_MARLIN
  CMakeLists.txt
Due: none

Update CMake to version 3.30.3
  .vscode/settings.json
  lib/Prusa-Firmware-MMU/.vscode/settings.json
  lib/Prusa-Firmware-MMU/README.md
  lib/Prusa-Firmware-MMU/utils/bootstrap.py
  lib/Prusa-Firmware-MMU/utils/holly/Jenkinsfile
  utils/bootstrap.py
  utils/holly/build-pr.jenkins
  utils/translations_and_fonts/README_TRANSLATIONS.md
  utils/translations_and_fonts/generate_single_font.sh
  utils/translations_and_fonts/script.sh
Due: generate-cmake-presets

Update clang-format to version 18.1.8
  .pre-commit-config.yaml
  lib/Prusa-Firmware-MMU/.pre-commit-config.yaml
  lib/Prusa-Firmware-MMU/README.md
  lib/Prusa-Firmware-MMU/utils/bootstrap.py
  src/gui/res/png2cc.sh
  utils/bootstrap.py
Due: none

Update ninja to version 1.12.1
  CMakePresets.json
  lib/Prusa-Firmware-MMU/.vscode/cmake-kits.json
  lib/Prusa-Firmware-MMU/README.md
  lib/Prusa-Firmware-MMU/utils/bootstrap.py
  lib/Prusa-Firmware-MMU/utils/holly/Jenkinsfile
  utils/bootstrap.py
  utils/holly/build-pr.jenkins
Due: generate-cmake-presets

Marlin core: add xyz_double_t
  lib/Marlin/Marlin/src/core/types.h
Due: none

IS: Calib: move collect_sample() definition outside vibrate_measure() body
  lib/AddMarlin.cmake
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
  lib/Marlin/Marlin/src/module/prusa/fourier_series.cpp
  lib/Marlin/Marlin/src/module/prusa/fourier_series.h
Due: clang-format

utils: Fully implement puppy bootloader interface in puppytool.py
  utils/puppytool.py
Due: none

iX: Decrease heater safety timer from 30 minutes to 10
  src/marlin_stubs/include/safety_timer_stubbed.hpp
Due: clang-format

Add Shipping Prep factory-reset option
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/screen_menu_factory_reset.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  python3-requirements: any of: requirements\.txt$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

