Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/dragomirecky/cmake-format-pre-commit-hook
  rev: 'v0.6.0'
  hooks:
    - id: cmake-format  # cmake formatter
      files: (^|/)(CMakeLists.*|.*\.cmake|.*\.cmake.in)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-9.0.0-noext/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/
  )

File translation - keep file open
  src/lang/translation_provider_FILE.cpp
Due: clang-format

String view uses 32bit offset because .mo file is too big for uint16 offset
  src/lang/string_view_utf8.hpp
Due: clang-format

Add dependency on python script to rebuild languages on script change
  src/lang/CMakeLists.txt
Due: none

warning for ftell comparison fix
  src/lang/string_view_utf8.hpp
Due: clang-format

Use .mo for translations
  src/lang/CMakeLists.txt
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
  src/lang/translation_provider_FILE.cpp
  src/lang/translation_provider_FILE.hpp
  src/resources/CMakeLists.txt
Due: clang-format

Fix script to generate fonts
  utils/translations_and_fonts/font.py
  utils/translations_and_fonts/script.sh
Due: none

Set buffer to read translations to 64B
  src/lang/translation_provider_FILE.cpp
Due: clang-format

Updated .pot for translations
  src/lang/po/Prusa-Firmware-Buddy.pot
Due: none

Add time to MINI's time settings menu
  src/common/CMakeLists.txt
  src/common/time_tools.cpp
  src/common/time_tools.hpp
  src/gui/CMakeLists.txt
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/print_time_module.cpp
  src/gui/screen_menu_lang_and_time.cpp
  src/gui/screen_menu_lang_and_time.hpp
  src/gui/time_tools.cpp
  src/gui/time_tools.hpp
  src/gui/window_header.cpp
  src/gui/window_header.hpp
  src/persistent_stores/store_instances/config_store/defaults.hpp
  src/persistent_stores/store_instances/config_store/store_definition.hpp
Due: clang-format

Fix SelftestResult_V1 migration in old eeprom
  src/persistent_stores/store_instances/config_store/old_eeprom/eeprom_v32787.hpp
Due: clang-format

Make SYSLOG selected by default for M33X commands
  doc/metrics.md
  src/marlin_stubs/M330.cpp
Due: clang-format

PR fixes
  ProjectOptions.cmake
  src/lang/string_view_utf8.hpp
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_FILE.cpp
  tests/unit/lang/translator/option/has_translations.h
  utils/presets/presets.json
Due: clang-format, generate-cmake-presets

Add clang-format InsertBraces reformat to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Fix languages test
  src/lang/CMakeLists.txt
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_FILE.cpp
  tests/unit/lang/translator/option/enable_translation_cs.h
  tests/unit/lang/translator/option/enable_translation_de.h
  tests/unit/lang/translator/option/enable_translation_es.h
  tests/unit/lang/translator/option/enable_translation_fr.h
  tests/unit/lang/translator/option/enable_translation_it.h
  tests/unit/lang/translator/option/enable_translation_pl.h
  tests/unit/lang/translator/option/translations_in_extflash.h
Due: clang-format

Reset print progress to 0 in PrintPreview
  src/common/marlin_print_preview.cpp
Due: clang-format

Fix M73_PE formatting
  lib/Marlin/Marlin/src/gcode/lcd/M73_PE.cpp
  lib/Marlin/Marlin/src/gcode/lcd/M73_PE.h
Due: none

fix: Jump out of Filament menu on menu timeout
  src/gui/screen_menu_filament_mmu.cpp
Due: clang-format

marlin: Do not timeout steppers while aborting moves
  lib/Marlin/Marlin/src/Marlin.cpp
Due: none

fix: Prevent motors unlocking during manage_response
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_marlin.h
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_marlin2.cpp
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_mk4.cpp
  tests/unit/lib/Marlin/MMU2/stubs/mmu2_marlin2.cpp
Due: clang-format

Improve motion::extruder_move
  src/common/mapi/motion.cpp
Due: clang-format

iX: Fix print area origin.
  include/marlin/Configuration_iX.h
Due: clang-format

fix: Remove unused pregenerated template instances
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_mk4.cpp
Due: none

PS: Show "Negative step time" BSOD only in debug builds.
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: none

Update print progress screen per Content
  src/common/gcode/gcode_info.cpp
  src/gui/dialogs/print_progress.cpp
  src/gui/dialogs/print_progress.hpp
  src/gui/window_thumbnail.cpp
  src/gui/window_thumbnail.hpp
  src/guiconfig/GuiDefaults.hpp
Due: clang-format

iX: Put parentheses around macro content.
  include/marlin/Configuration_iX.h
Due: clang-format

Add WindowProgressCircles
  src/guiapi/include/window_progress.hpp
  src/guiapi/src/window_progress.cpp
Due: clang-format

fix: Remove not needed hack to keep the stepper motors locked
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_marlin.h
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_marlin2.cpp
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_mk4.cpp
Due: none

Fix required version display
  src/common/gcode/gcode_info.hpp
  src/gui/window_msgbox_wrong_printer.cpp
Due: clang-format

Check results of fread/fseek in string_view
  src/lang/string_view_utf8.hpp
Due: clang-format

Fit "New firmware available" on mini screen
  src/gui/screen_print_preview.cpp
  src/gui/screen_print_preview.hpp
Due: clang-format

Refactor "newer firmware required"
  src/gui/window_msgbox_wrong_printer.cpp
  src/gui/window_msgbox_wrong_printer.hpp
Due: clang-format

Disable SWD file for debug
  .vscode/launch.json
Due: generate-cmake-presets

Keep final print end time
  src/common/marlin_server.cpp
Due: clang-format

app: Re-instate "steppers disabled" warning for all printers
  lib/Marlin/Marlin/src/Marlin.cpp
  src/common/marlin_server.cpp
Due: clang-format

Ensure FW version is null terminated
  src/common/gcode/gcode_info.cpp
Due: clang-format

Provide print start, end timestamps as marlin vars
  src/common/marlin_server.cpp
  src/common/marlin_server_shared.h
  src/common/marlin_vars.hpp
Due: clang-format

MMU: Fix MBL not being applied on unparking
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_marlin.h
  lib/Marlin/Marlin/src/feature/prusa/MMU2/mmu2_marlin2.cpp
Due: none

Add screen_printing_data_t to ScreenFactory
  src/gui/ScreenFactory.hpp
Due: clang-format

Pause processing of serial commands while pausing and resuming
  lib/Marlin/Marlin/src/gcode/queue.cpp
  lib/Marlin/Marlin/src/gcode/queue.h
  src/common/marlin_server.cpp
  src/common/serial_printing.cpp
Due: clang-format

Improve focus/scroll behavior of window_file_list_t::Load
  src/gui/window_file_list.cpp
Due: clang-format
