Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
    - id: cmake-format
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-16-83817c2f/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: python3-requirements
      name: python3-requirements
      description: Check if requirements.txt matches the buildsystem.
      entry: 'utils/check-requirements.py'
      language: script
      files: requirements\.txt$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^lib/Catch2/|
    ^lib/CrashCatcher/|
    ^lib/Drivers/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/serial-flasher/|
    ^lib/Marlin/(?!
        Marlin/src(/gcode)?/feature/prusa/|
        Marlin/src(/gcode)?/feature/input_shaper/|
        Marlin/src(/gcode)?/feature/pressure_advance/|
        Marlin/src(/gcode)?/feature/precise_stepping/|
        Marlin/src(/gcode)?/feature/phase_stepping/|
        Marlin/src/module/prusa/|
        Marlin/src/gcode/calibrate/M958.cpp
      )|
    ^lib/Middlewares/Third_Party/FatFs/|
    ^lib/Middlewares/Third_Party/FreeRTOS/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/|
    ^lib/Prusa-Error-Codes/|
    ^lib/Prusa-Firmware-MMU/|
    ^lib/QR/|
    ^lib/Segger|
    ^lib/TMCStepper/|
    ^lib/cpp-std-extensions/|
    ^lib/heatshrink/|
    ^lib/inih/|
    ^lib/jsmn/|
    ^lib/libbgcode/|
    ^lib/liblightmodbus/|
    ^lib/libsysbase/|
    ^lib/printf|
    ^lib/tinyusb/|
    ^tests/stubs/FreeRTOS|
    ^tests/unit/common/gcode/.*\.gcode$|
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
  )

crash_dump_info.py
  utils/crash_dump_info.py
Due: none

fixup! version.h: BuildIdentification
  src/common/version.cpp
Due: clang-format

Link: Don't get stuck on basic auth
  tests/unit/common/automata/generated.cpp
  utils/gen-automata/http.py
Due: clang-format

Fix 1st layer calibration being stuck when using MMU with unloaded filament
  src/common/selftest/selftest_firstlayer.cpp
Due: clang-format

git subrepo pull --force lib/Prusa-Error-Codes
  lib/Prusa-Error-Codes/.gitrepo
  lib/Prusa-Error-Codes/10_SL1/errors.yaml
  lib/Prusa-Error-Codes/prusaerrors/shared/codes.py
  lib/Prusa-Error-Codes/yaml/buddy-error-codes.yaml
Due: none

Update translations for 6.0.4
  src/lang/po/Prusa-Firmware-Buddy.pot
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.mo
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Change japanese language code JP to ISO 639's JA
  CMakePresets.json
  ProjectOptions.cmake
  src/gui/fonts.cpp
  src/gui/res/mini_used_imgs.txt
  src/gui/res/png/flag_ja_16x11.png
  src/gui/res/png_before_resize/flag_ja_16x11.png
  src/gui/screen_menu_languages.cpp
  src/gui/screen_menu_languages.hpp
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.mo
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.po
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_FILE.cpp
  tests/unit/lang/translator/option/enable_translation_ja.h
  tests/unit/lang/translator/option/enable_translation_jp.h
  tests/unit/lang/translator/providerCPUFLASH.cpp
  tests/unit/lang/translator/providerFILE.cpp
  utils/presets/presets.json
Due: clang-format, generate-cmake-presets

connect: Alias START_CONNECT_DOWNLOAD to inline download
  src/connect/command.cpp
Due: clang-format

Drop support for specifying filename when packing BBF
  cmake/Utilities.cmake
  utils/pack_fw.py
Due: none

Change BBF version default
  CMakeLists.txt
  cmake/Utilities.cmake
  utils/pack_fw.py
Due: none

Do not build update_pre_4.4.bbf
  CMakeLists.txt
  utils/build.py
Due: none

Enable input shaper calibration for MK3.5
  ProjectOptions.cmake
  src/gui/include_MK3.5/selftest_snake_config.cpp
  src/gui/include_MK3.5/selftest_snake_config.hpp
  src/gui/screen_input_shaper_calibration.cpp
Due: clang-format

Decrease first layer calibration z from -2000 to -3000
  src/gui/footer/footer_item_live_z.cpp
Due: clang-format

Update translations POT
  src/lang/po/Prusa-Firmware-Buddy.pot
Due: none

Fix translations scripts
  utils/translations_and_fonts/font.py
  utils/translations_and_fonts/lang.py
Due: none

Update translations PO & MO
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.mo
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

tool mapping: Load initial from Marlin
  src/common/marlin_print_preview.cpp
  src/gui/screen_tools_mapping.cpp
Due: clang-format

connect: Overwrite default tool mapping
  src/connect/marlin_printer.cpp
Due: clang-format

Fix screen_messages_data_t SWIPE_LEFT not beeping
  src/gui/screen_messages.cpp
Due: clang-format

Move nozzle & bed temperature settings to numeric_input_config
  src/gui/CMakeLists.txt
  src/gui/MItem_print.cpp
  src/gui/numeric_input_config_common.cpp
  src/guiapi/include/numeric_input_config_common.hpp
Due: clang-format

DynamicIndexMapping: Add section_size and is_item_enabled
  src/common/utils/dynamic_index_mapping.hpp
Due: clang-format

Config store: Make DefaultVal auto
  src/persistent_stores/journal/store.hpp
  src/persistent_stores/journal/store_item.hpp
  src/persistent_stores/no_backend/store_item.hpp
Due: clang-format

JournalItemArray: Add max_item_count
  src/persistent_stores/journal/store.hpp
  src/persistent_stores/journal/store_item.hpp
Due: clang-format

WindowMenuVirtual: Add CloseScreenReturnBehavior
  src/gui/screen_menu_metrics_list.cpp
  src/gui/screen_menu_metrics_list.hpp
  src/gui/screen_network_setup.cpp
  src/gui/window_file_list.cpp
  src/guiapi/include/window_menu_virtual.hpp
  src/guiapi/src/window_menu_virtual.cpp
Due: clang-format

Defaults for IWindowMenuItem::ColorScheme
  src/guiapi/include/i_window_menu_item.hpp
Due: clang-format

Add JournalItem::apply
  src/persistent_stores/journal/store_item.hpp
Due: clang-format

Fix filament sensor event locking
  src/common/filament_sensors_handler.cpp
Due: clang-format

Fix M73 progress reporting
  lib/Marlin/Marlin/src/gcode/lcd/M73_PE.cpp
Due: none

Prevent using marlin_vars_t constructor
  src/common/marlin_vars.cpp
  src/common/marlin_vars.hpp
Due: clang-format

Double purge volume on MK4S
  src/marlin_stubs/pause/pause_settings.cpp
Due: clang-format

Faster Z-homing speed
  include/marlin/Configuration_MK4.h
Due: clang-format

Simplify creating menu items to open screens
  src/gui/MItem_menus.cpp
  src/gui/MItem_menus.hpp
Due: clang-format

Refactor SelftestFrameDock::set_name
  src/gui/wizard/selftest_frame_dock.cpp
Due: clang-format

Make N_() generate TranslatableStringT
  src/lang/i18n.h
Due: clang-format

Refactor MI_INFO_FILL_SENSOR code
  src/gui/MItem_tools.cpp
Due: clang-format

Simplify N_(XX) usage
  src/gui/MItem_mmu.cpp
  src/gui/MItem_tools.cpp
  src/gui/dialogs/DialogLoadUnload.cpp
  src/gui/dialogs/window_dlg_preheat.cpp
  src/gui/footer/footer_item_multitool.cpp
  src/gui/screen_filebrowser.cpp
  src/gui/screen_input_shaper_calibration.cpp
  src/gui/screen_network_setup.cpp
  src/gui/screen_phase_stepping.cpp
  src/gui/screen_print_preview.hpp
  src/gui/screen_sysinf.cpp
  src/gui/version_info_ST7789V.cpp
  src/guiapi/include/WindowItemFanLabel.hpp
  src/guiapi/src/window_msgbox.cpp
  src/lang/format_print_will_end.cpp
  src/mmu2/mmu2_progress_converter.cpp
Due: clang-format
