Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-16-83817c2f/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

python3-requirements:
  name: python3-requirements
  description: Check if requirements.txt matches the buildsystem.
  entry: utils/check-requirements.py
  language: script

Add configuration to build marlin_server_types python module on holly
  utils/holly/build-pr.jenkins
Due: none

Reduce pip dependency downloads for build stage
  .pre-commit-config.yaml
  utils/build.py
  utils/check-requirements.py
  utils/holly/Dockerfile
  utils/holly/build-pr.jenkins
  utils/holly/build-requirements.txt
  utils/holly/heavy-requirements.txt
Due: python3-requirements

Remove PRESET_COMPILE_OPTIONS
  CMakeLists.txt
  CMakePresets.json
  ProjectOptions.cmake
  utils/presets/presets.json
Due: generate-cmake-presets

Introduce NumericInputConfig
  src/guiapi/include/numeric_input_config.hpp
  src/guiapi/include/units.hpp
  src/guiapi/src/CMakeLists.txt
  src/guiapi/src/numeric_input_config.cpp
  tests/unit/gui/CMakeLists.txt
  tests/unit/gui/gui_tests.cpp
Due: clang-format

Remove obsolete XL build presets
  CMakePresets.json
  utils/presets/presets.json
Due: generate-cmake-presets

Remove references to removed presets
  CMakeLists.txt
Due: none

Increase ProbeAnalysis buffer size
  src/common/loadcell.hpp
Due: clang-format

CircleBuffer: Fix begin/end_pos not initialized
  src/common/circle_buffer.hpp
Due: clang-format

ProbeAnalysis: Fix unittest
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
Due: clang-format

Add StringBuilder::append_float
  src/common/str_utils.cpp
  src/common/str_utils.hpp
  tests/unit/common/str_utils_test.cpp
Due: clang-format

Point out bugs in ProbeAnalysis to be fixed
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
Due: clang-format

Move MK4 planetary option from preset to config
  CMakePresets.json
  include/marlin/Configuration_MK4.h
  utils/presets/presets.json
Due: clang-format, generate-cmake-presets

Only run tag creation and integration tests on private fork
  utils/holly/build-pr.jenkins
Due: none

Lock access to spool_join.
  lib/Marlin/Marlin/src/module/prusa/spool_join.cpp
  lib/Marlin/Marlin/src/module/prusa/spool_join.hpp
Due: clang-format

Create python module, that exposes marlin server & FSM states
  CMakeLists.txt
  lib/AddMarlin.cmake
  requirements.txt
  src/common/CMakeLists.txt
  src/common/client_response_texts.hpp
  src/common/enum_array.hpp
  src/common/marlin_client.hpp
  src/common/marlin_server_shared.h
  src/common/marlin_server_types/CMakeLists.txt
  src/common/marlin_server_types/client_fsm_types.h
  src/common/marlin_server_types/client_response.hpp
  src/common/marlin_server_types/general_response.hpp
  src/common/marlin_server_types/python_binding/CMakeLists.txt
  src/common/marlin_server_types/python_binding/README.md
  src/common/marlin_server_types/python_binding/fsm_python_binding.cpp
  src/common/marlin_server_types/python_binding/marlin_server_types/__init__.py
  src/common/marlin_server_types/python_binding/pyproject.toml
  src/common/marlin_server_types/python_binding/tests/test_basic.py
  src/connect/command.cpp
  src/connect/planner.cpp
  src/connect/printer.hpp
  src/guiapi/include/guitypes.hpp
  src/marlin_stubs/M1702.cpp
  src/marlin_stubs/M1977.cpp
  src/mmu2/mmu2_error_converter.h
  tests/stubs/inc/MarlinConfig.h
  tests/stubs/inc/MarlinConfigPre.h
  tests/stubs/inc/macros.h
  tests/unit/connect/CMakeLists.txt
  tests/unit/connect/mock_printer.h
  tests/unit/gui/window/CMakeLists.txt
  tests/unit/lang/eeprom/CMakeLists.txt
  tests/unit/lib/Marlin/MMU2/CMakeLists.txt
Due: clang-format, python3-requirements

Remove BOARD_VER_* #ifdefs since versions are fixed anyway
  include/marlin/Configuration_XL.h
  include/marlin/Configuration_XL_DEV_KIT.h
  include/marlin/Configuration_XL_DEV_KIT_adv.h
  include/marlin/Configuration_XL_Dwarf.h
  include/marlin/Configuration_XL_adv.h
  include/tasks.hpp
  lib/WUI/espif.cpp
  src/common/adc.hpp
  src/puppies/puppy_task.cpp
  src/puppy/modularbed/hal/HAL_GPIO.cpp
  src/puppy/modularbed/hal/HAL_PWM.cpp
Due: clang-format

Keep the "good stuff" from the previous revert.
  lib/Marlin/Marlin/src/feature/pressure_advance/pressure_advance_config.hpp
Due: clang-format

CircleBuffer: ditch increment/decrement index, push_back_DontRewrite
  src/common/circle_buffer.hpp
  tests/unit/common/circle_buffer_test.cpp
Due: clang-format

Be explicit about boards and versions
  CMakePresets.json
  ProjectOptions.cmake
  utils/holly/build-pr.jenkins
  utils/presets/presets.json
Due: generate-cmake-presets

IS: Calibration: fix std::polar with negative r.
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
Due: clang-format

Fix invalid check in ProbeAnalysisBase::CalculateAnalysisRange
  src/common/probe_analysis.cpp
Due: clang-format

CircleBuffer: introduce position()
  src/common/circle_buffer.hpp
Due: clang-format

Refactor ProbeAnalysis
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
  tests/unit/common/probe_analysis/CMakeLists.txt
Due: clang-format

Patch upstream esp-serial-flasher
  lib/esp-serial-flasher/include/esp_loader.h
  lib/esp-serial-flasher/src/esp_loader.c
Due: clang-format

Make Mody happy
  src/common/probe_analysis.cpp
Due: clang-format

ProbeAnalysisBase: Get rid of make_forward
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
Due: clang-format

Add "Dryrun" menu dev item
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/screen_menu_settings.hpp
Due: clang-format

Import new esp-serial-flasher
  .pre-commit-config.yaml
  lib/esp-serial-flasher/LICENSE
  lib/esp-serial-flasher/include/esp_loader.h
  lib/esp-serial-flasher/include/esp_loader_io.h
  lib/esp-serial-flasher/private_include/esp_targets.h
  lib/esp-serial-flasher/private_include/md5_hash.h
  lib/esp-serial-flasher/private_include/protocol.h
  lib/esp-serial-flasher/private_include/protocol_prv.h
  lib/esp-serial-flasher/private_include/slip.h
  lib/esp-serial-flasher/src/esp_loader.c
  lib/esp-serial-flasher/src/esp_targets.c
  lib/esp-serial-flasher/src/md5_hash.c
  lib/esp-serial-flasher/src/protocol_common.c
  lib/esp-serial-flasher/src/protocol_uart.c
  lib/esp-serial-flasher/src/slip.c
Due: clang-format

Yet another CircleBuffer/ProbeAnalysis fix
  src/common/circle_buffer.hpp
  src/common/probe_analysis.cpp
  tests/unit/common/circle_buffer_test.cpp
  tests/unit/common/probe_analysis/tests.cpp
Due: clang-format

IS: Disable phase stepping when calibrating.
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
Due: clang-format

Fix typo in MK3.5 description
  utils/presets/presets.json
Due: generate-cmake-presets

Always export compile commands
  CMakePresets.json
  ProjectOptions.cmake
  utils/presets/presets.json
Due: generate-cmake-presets

ProbeAnalysis: Default initialize various members
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
Due: clang-format

Use new esp-serial-flasher
  .pre-commit-config.yaml
  CMakeLists.txt
  include/buddy/esp_uart_dma_buffer_rx.hpp
  lib/CMakeLists.txt
  lib/ESP/CMakeLists.txt
  lib/ESP/prusa/src/serial-flasher/buddy_port.c
  lib/ESP/prusa/src/serial-flasher/serial_comm.c
  lib/WUI/espif.cpp
  lib/WUI/espif.h
  src/CMakeLists.txt
  src/buddy-esp-serial-flasher/CMakeLists.txt
  src/buddy-esp-serial-flasher/buddy_port.cpp
  src/buddy-esp-serial-flasher/buddy_port.hpp
  src/common/selftest/selftest_esp_update.hpp
Due: clang-format

Add magic_enum library
  .pre-commit-config.yaml
  lib/AddMagicEnum.cmake
  lib/CMakeLists.txt
Due: none

Lock access tool_mapper.
  lib/Marlin/Marlin/src/module/prusa/tool_mapper.cpp
  lib/Marlin/Marlin/src/module/prusa/tool_mapper.hpp
Due: clang-format

Fix _Python3_EXECUTABLE variable name to normal Python3_EXECUTABLE
  cmake/Options.cmake
Due: none

Touchscreen::LenientClickGuard
  src/hw/touchscreen/touchscreen_common.cpp
  src/hw/touchscreen/touchscreen_common.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  python3-requirements: any of: requirements\.txt$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

