Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/dragomirecky/cmake-format-pre-commit-hook
  rev: 'v0.6.0'
  hooks:
    - id: cmake-format  # cmake formatter
      files: (^|/)(CMakeLists.*|.*\.cmake|.*\.cmake.in)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-9.0.0-noext/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/
  )

gui: Better handle menu timeout
  src/gui/ScreenHandler.cpp
  src/gui/screen_menu_move.cpp
  src/gui/screen_menu_sensor_info.cpp
  src/gui/screen_prusa_link.cpp
Due: clang-format

PrusaLink update
  src/resources/CMakeLists.txt
  src/resources/web/e5ae0f11eb9a619ec903488e77be89b8.svg
  src/resources/web/index.html
  src/resources/web/main.478b47f79f42d0548d8b.js
  src/resources/web/main.77a2a5989f980e626c6f.js
  src/resources/web/main.a0710e06cbc7ab353115.css
  src/resources/web/main.cf0f3f6f32f7abaffeea.css
Due: none

Lift nozzle in preheat if we dont know its position
  src/marlin_stubs/pause/M70X_preheat.cpp
Due: clang-format

wifi: Change url
  src/gui/wizard/selftest_frame_esp_qr.hpp
Due: clang-format

PrusaLink update
  src/resources/CMakeLists.txt
  src/resources/web/e5ae0f11eb9a619ec903488e77be89b8.svg
  src/resources/web/index.html
  src/resources/web/main.478b47f79f42d0548d8b.js
  src/resources/web/main.948afd229701ae536d26.css
  src/resources/web/main.976038a64a42bac7461d.js
  src/resources/web/main.cf0f3f6f32f7abaffeea.css
Due: none

debugging: Add openocd scripts, RTT on STLink, better vscode debugging UX
  .gitignore
  .vscode/launch.json
  utils/debug/00_common.cfg
  utils/debug/10_custom_config.cfg
  utils/debug/10_debugger_jlink.cfg
  utils/debug/10_debugger_stlink.cfg
  utils/debug/20_board_buddy.cfg
  utils/debug/30_freertos.cfg
  utils/debug/30_rtt_workaround.cfg
  utils/debug/30_swo_to_file.cfg
Due: generate-cmake-presets

vscode: Add recommended extensions
  .vscode/extensions.json
Due: generate-cmake-presets

vscode: Enable "show inactive regions"
  .vscode/settings.json
Due: generate-cmake-presets

tests: Fix tests on macOS
  src/Connect/debug.h
  src/Connect/os_porting.cpp
  src/Connect/os_porting.hpp
  src/Connect/socket.cpp
Due: clang-format

vscode: Run bootstrap.py automatically on workspace_open
  .vscode/tasks.json
Due: generate-cmake-presets

openocd: Automatically install user_config on bootstrap
  utils/bootstrap.py
  utils/debug/10_custom_config.cfg
  utils/holly/Dockerfile
  utils/holly/build-pr.jenkins
Due: none

Fix broken tests
  tests/unit/common/CMakeLists.txt
  tests/unit/lib/WUI/nhttp/CMakeLists.txt
Due: none

Add autoload lock and fix fs event autolock
  src/common/filament_sensor_api.cpp
  src/common/filament_sensor_api.hpp
  src/common/include/fs_autoload_autolock.hpp
  src/common/include/fs_event_autolock.hpp
Due: clang-format

Disable autoload in sensor info screen
  src/gui/screen_menu_sensor_info.cpp
Due: clang-format

nhttp: Be more careful about writing headers
  lib/WUI/nhttp/headers.cpp
  lib/WUI/nhttp/status_page.cpp
Due: clang-format

Do reatract in pause instead of extrude
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

PrusaLink: Don't hard-cache index.html
  lib/WUI/link_content/static_file.cpp
Due: clang-format

Convert default value of retract length to negative value
  src/marlin_stubs/pause/pause_settings.cpp
Due: clang-format

Workaround for corrupted transmitted packets
  lib/WUI/nhttp/server.cpp
Due: clang-format

Fix Footer item axis value range
  src/gui/dialogs/liveadjust_z.cpp
  src/gui/footer/footer_item_axis.cpp
  src/gui/footer/footer_item_axis.hpp
Due: clang-format
