Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
    - id: cmake-format
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-16-83817c2f/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: python3-requirements
      name: python3-requirements
      description: Check if requirements.txt matches the buildsystem.
      entry: 'utils/check-requirements.py'
      language: script
      files: requirements\.txt$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^lib/Catch2/|
    ^lib/CrashCatcher/|
    ^lib/Drivers/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/serial-flasher/|
    ^lib/Marlin/(?!
        Marlin/src(/gcode)?/feature/prusa/|
        Marlin/src(/gcode)?/feature/input_shaper/|
        Marlin/src(/gcode)?/feature/pressure_advance/|
        Marlin/src(/gcode)?/feature/precise_stepping/|
        Marlin/src(/gcode)?/feature/phase_stepping/|
        Marlin/src/module/prusa/|
        Marlin/src/gcode/calibrate/M958.cpp
      )|
    ^lib/Middlewares/Third_Party/FatFs/|
    ^lib/Middlewares/Third_Party/FreeRTOS/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/|
    ^lib/Prusa-Error-Codes/|
    ^lib/Prusa-Firmware-MMU/|
    ^lib/QR/|
    ^lib/Segger|
    ^lib/TMCStepper/|
    ^lib/cpp-std-extensions/|
    ^lib/heatshrink/|
    ^lib/inih/|
    ^lib/jsmn/|
    ^lib/libbgcode/|
    ^lib/liblightmodbus/|
    ^lib/libsysbase/|
    ^lib/printf|
    ^lib/tinyusb/|
    ^tests/stubs/FreeRTOS|
    ^tests/unit/common/gcode/.*\.gcode$|
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
  )

Fixup: Make it build for other printers
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/screen_menu_factory_reset.hpp
Due: clang-format

cleanup bootstrap script
  lib/Prusa-Firmware-MMU/utils/bootstrap.py
  utils/bootstrap.py
Due: none

ESP: Fix skipped messages
  lib/WUI/esp_protocol/parser.cpp
Due: clang-format

Reapply "esp: Add basic unit tests for new parser"
  tests/unit/lib/WUI/esp/CMakeLists.txt
  tests/unit/lib/WUI/esp/config.h
  tests/unit/lib/WUI/esp/generators.hpp
  tests/unit/lib/WUI/esp/test_parser.cpp
Due: clang-format

esp: Enable tests + captured data test
  lib/WUI/esp_protocol/messages.hpp
  tests/unit/lib/WUI/CMakeLists.txt
  tests/unit/lib/WUI/esp/CMakeLists.txt
  tests/unit/lib/WUI/esp/test_parser.cpp
  tests/unit/lib/WUI/esp/uart.dump
Due: clang-format

Reapply "Update esp firmwares"
  src/resources/esp32/bootloader.bin
  src/resources/esp32/uart_wifi.bin
  src/resources/esp8266/bootloader.bin
  src/resources/esp8266/uart_wifi.bin
Due: none

Reapply "esp: Implement simplified and testable parser"
  lib/WUI/esp_protocol/messages.hpp
  lib/WUI/esp_protocol/parser.cpp
  lib/WUI/esp_protocol/parser.hpp
Due: clang-format

Reapply "esp: Use new common types and new parser"
  lib/WUI/CMakeLists.txt
  lib/WUI/espif.cpp
Due: clang-format

Add proper version library
  CMakeLists.txt
  cmake/Options.cmake
  src/CMakeLists.txt
  src/buddy/main.cpp
  src/common/CMakeLists.txt
  src/common/app_metrics.cpp
  src/common/bsod_gui.cpp
  src/common/crash_dump/crash_dump_distribute.cpp
  src/common/crash_dump/dump.cpp
  src/common/gcode/gcode_info.cpp
  src/connect/printer_common.cpp
  src/connect/user_agent.hpp
  src/gui/MItem_tools.cpp
  src/gui/qr.cpp
  src/gui/screen_reset_error.cpp
  src/gui/screen_splash.cpp
  src/gui/version_info_ILI9488.cpp
  src/gui/version_info_ST7789V.cpp
  src/marlin_stubs/M862_4.cpp
  src/marlin_stubs/host/M115.cpp
  src/persistent_stores/store_instances/config_store/old_eeprom/last_migration.cpp
  src/transfers/transfer_recovery.cpp
  src/version/CMakeLists.txt
  src/version/include/version/version.hpp
  src/version/version.cpp
  tests/unit/connect/CMakeLists.txt
  tests/unit/connect/missing_functions.cpp
  tests/unit/connect/mock/version/version.hpp
  tests/unit/lib/WUI/nhttp/CMakeLists.txt
  tests/unit/lib/WUI/nhttp/missing_functions.c
  tests/unit/lib/WUI/nhttp/mock/version/version.hpp
  tests/unit/transfers/CMakeLists.txt
  tests/unit/transfers/missing_functions.cpp
  tests/unit/transfers/mock/version/version.hpp
Due: clang-format

Link to freertos module explicitly
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Move FreeRTOS system tasks to freertos module
  src/CMakeLists.txt
  src/freertos.cpp
  src/freertos/CMakeLists.txt
  src/freertos/system_tasks.cpp
Due: clang-format

Cleanup remnants of nonexistent #include directory
  CMakeLists.txt
Due: none

Power panic: Resume only if USB inserted from the start
  src/common/print_utils.cpp
Due: clang-format

Link to more modules explicitly
  CMakeLists.txt
Due: none

Sort subdirectories in src/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Add subdirectories more explicitly
  src/CMakeLists.txt
Due: none

Include more headers explicitly
  CMakeLists.txt
  src/common/marlin_server.cpp
  src/common/metric_handlers.cpp
  src/connect/marlin_printer.cpp
  src/gui/dialogs/DialogLoadUnload.cpp
Due: clang-format

Force some more config_store defaults after Shipping prep
  src/gui/MItem_tools.cpp
  src/persistent_stores/storage_drivers/eeprom_storage.cpp
Due: clang-format

fix: revert ocr broken dependency
  requirements.txt
  utils/holly/heavy-requirements.txt
Due: python3-requirements

usb: Get rid of readahead
  include/usb_host/usbh_async_diskio.hpp
  src/buddy/usb_host.cpp
  src/buddy/usbh_diskio.cpp
Due: clang-format

Bump version to 6.1.4
  version.txt
Due: none

IS: Don't ask to attach accelerometer on core xy printers
  src/marlin_stubs/M1959.cpp
Due: clang-format

Revert "Sort subdirectories in src/CMakeLists.txt"
  src/CMakeLists.txt
Due: none

Fix skipping gcodes after pause
  lib/Marlin/Marlin/src/gcode/queue.cpp
Due: none

Protect config_store() reinit with critical section
  src/gui/MItem_tools.cpp
Due: clang-format

Update on purge position
  include/marlin/Configuration_iX_adv.h
Due: clang-format

Use std::atomic for PreheatStatus
  src/marlin_stubs/pause/M701_2.cpp
Due: clang-format

puppies: Allow building puppies support without modularbed
  CMakeLists.txt
  include/puppies/modular_bed.hpp
  src/common/safe_state.cpp
  src/puppies/CMakeLists.txt
  src/puppies/PuppyBootstrap.cpp
  src/puppies/puppy_task.cpp
  src/resources/CMakeLists.txt
Due: clang-format

Force some more config_store defaults after Shipping prep
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/screen_menu_factory_reset.hpp
  src/persistent_stores/storage_drivers/eeprom_storage.cpp
Due: clang-format
