Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-9.0.0-noext/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

Add set functions to Rect16
  src/guiapi/include/Rect16.h
Due: clang-format

Add optional error messages to RestoredTransfer::Error
  src/common/gcode/gcode_reader.cpp
  src/common/marlin_print_preview.cpp
  src/transfers/transfer.hpp
  src/transfers/transfer_recovery.cpp
Due: clang-format

handle correctly G80 in MK3 compatibility mode
  lib/Marlin/Marlin/src/gcode/calibrate/G80.cpp
Due: none

Implement screen_printing information swapping
  src/gui/print_time_module.cpp
  src/gui/print_time_module.hpp
  src/gui/screen_printing.cpp
  src/gui/screen_printing.hpp
Due: clang-format

New end result showing on screen printing
  src/gui/screen_printing.cpp
  src/gui/screen_printing.hpp
Due: clang-format

Parse wipe tower grams with gcode_info
  src/common/gcode/gcode_info.cpp
  src/common/gcode/gcode_info.hpp
Due: clang-format

MCU temperatures
  src/common/marlin_server.cpp
  src/gui/include_MINI/screen_menu_sensor_info_parent_alias.hpp
  src/gui/include_MK3.5/screen_menu_sensor_info_parent_alias.hpp
  src/gui/include_MK4/screen_menu_sensor_info_parent_alias.hpp
  src/gui/include_XL/screen_menu_sensor_info_parent_alias.hpp
  src/gui/include_iX/screen_menu_sensor_info_parent_alias.hpp
  src/gui/screen_menu_sensor_info_MINI.cpp
  src/gui/screen_menu_sensor_info_MK3.5.cpp
  src/gui/screen_menu_sensor_info_MK4.cpp
  src/gui/screen_menu_sensor_info_XL.cpp
  src/gui/screen_menu_sensor_info_iX.cpp
Due: clang-format

Increase PlainGCodeReader::header_metadata_size
  src/common/gcode/gcode_reader.hpp
Due: clang-format

Fix connect wizzard error translations
  src/gui/dialogs/DialogConnectReg.hpp
Due: clang-format

Fix M73_PE formatting
  lib/Marlin/Marlin/src/gcode/lcd/M73_PE.cpp
  lib/Marlin/Marlin/src/gcode/lcd/M73_PE.h
Due: none

Check results of fread/fseek in string_view
  src/lang/string_view_utf8.hpp
Due: clang-format

Revert "temporary: Mark build from release branch a BETA"
  utils/holly/build-pr.jenkins
Due: none

Adding Snake to MK3.5 & MINI (FirstLayer included)
  ProjectOptions.cmake
  src/common/marlin_print_preview.cpp
  src/gui/box_unfinished_selftest.cpp
  src/gui/include_MINI/selftest_snake_config.cpp
  src/gui/include_MINI/selftest_snake_config.hpp
  src/gui/include_MINI/selftest_snake_submenus.cpp
  src/gui/include_MK3.5/selftest_snake_config.cpp
  src/gui/include_MK3.5/selftest_snake_config.hpp
  src/gui/screen_home.cpp
  src/gui/screen_menu_control.hpp
Due: clang-format

Reset print progress to 0 in PrintPreview
  src/common/marlin_print_preview.cpp
Due: clang-format

Fix translations of connect wizard errors
  src/gui/dialogs/DialogConnectReg.cpp
  src/gui/dialogs/DialogConnectReg.hpp
Due: clang-format

Fix being stuck on downloading screen for unexisting file
  src/common/gcode/gcode_info.cpp
  src/common/marlin_print_preview.cpp
Due: clang-format

Revert "Adding Snake to MK3.5 & MINI (FirstLayer included)"
  ProjectOptions.cmake
  src/common/marlin_print_preview.cpp
  src/gui/box_unfinished_selftest.cpp
  src/gui/include_MINI/selftest_snake_config.cpp
  src/gui/include_MINI/selftest_snake_config.hpp
  src/gui/include_MINI/selftest_snake_submenus.cpp
  src/gui/include_MK3.5/selftest_snake_config.cpp
  src/gui/include_MK3.5/selftest_snake_config.hpp
  src/gui/screen_home.cpp
  src/gui/screen_menu_control.hpp
Due: clang-format

mini: Fix filament sensor being disabled by default
  src/persistent_stores/store_instances/config_store/defaults.hpp
  src/persistent_stores/store_instances/config_store/store_definition.hpp
Due: clang-format

Call it a RC1
  utils/holly/build-pr.jenkins
Due: none

fix: Properly disable button click on end screen
  src/gui/screen_printing.cpp
Due: clang-format

Avoid FSM BSOD in specific situation
  src/common/marlin_server.cpp
Due: clang-format

Change end screen left arrow to match the right
  src/gui/res/png/arrow_left_10x16.png
  src/gui/screen_printing.cpp
Due: clang-format

mini: Fix "Happy Printing" dialog layout
  src/guiapi/src/window_msgbox.cpp
Due: clang-format

Rename Wipe tower to Prime tower in XL end screen
  src/gui/screen_printing.cpp
Due: clang-format

Update translation template file
  src/lang/po/Prusa-Firmware-Buddy.pot
Due: none

Fix wrong english text
  src/gui/dialogs/window_dlg_strong_warning.hpp
Due: clang-format

Increase number of strings
  src/lang/translation_provider_CPUFLASH.hpp
Due: clang-format

Revert "Update translation template file"
  src/lang/po/Prusa-Firmware-Buddy.pot
Due: none

Update fonts
  src/gui/res/cc/font_bold_11x19.hpp
  src/gui/res/cc/font_bold_13x22.hpp
  src/gui/res/cc/font_bold_30x53.hpp
  src/gui/res/cc/font_regular_11x18.hpp
  src/gui/res/cc/font_regular_7x13.hpp
  src/gui/res/cc/font_regular_9x16.hpp
  src/gui/res/fnt_png/font_bold_11x19.png
  src/gui/res/fnt_png/font_bold_11x19_preview.png
  src/gui/res/fnt_png/font_bold_13x22.png
  src/gui/res/fnt_png/font_bold_13x22_preview.png
  src/gui/res/fnt_png/font_bold_30x53.png
  src/gui/res/fnt_png/font_bold_30x53_preview.png
  src/gui/res/fnt_png/font_regular_11x18.png
  src/gui/res/fnt_png/font_regular_11x18_preview.png
  src/gui/res/fnt_png/font_regular_7x13.png
  src/gui/res/fnt_png/font_regular_7x13_preview.png
  src/gui/res/fnt_png/font_regular_9x16.png
  src/gui/res/fnt_png/font_regular_9x16_preview.png
  src/guiapi/include/fnt-indices.ipp
Due: clang-format

Fix \n in provided translations
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Update translations as receied from content
  src/lang/po/Prusa-Firmware-Buddy.pot
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/en/Prusa-Firmware-Buddy_en.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Fix capitals in CZ selftest
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
Due: none

MINI: Create multiple variants, each with just ONE language
  CMakePresets.json
  utils/holly/build-pr.jenkins
  utils/presets/presets.json
Due: generate-cmake-presets

Remove wierd characters from provided translations
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
Due: none

Make it RC2
  utils/holly/build-pr.jenkins
Due: none

Add dependency to translations, so it is properly rebuild when translations change
  src/lang/CMakeLists.txt
  tests/unit/lang/translator/CMakeLists.txt
Due: none

Cleanup translations, generate .mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Adjust rotation time in screen_printing
  src/gui/dialogs/print_progress.cpp
  src/gui/screen_printing.hpp
Due: clang-format

Remove unused EN translation
  src/lang/po/en/Prusa-Firmware-Buddy_en.po
Due: none

Temporarily widen left column in print_progress
  src/gui/dialogs/print_progress.cpp
  src/gui/dialogs/print_progress.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

