Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-9.0.0-noext/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

Make bootloader_version var scope smaller
  src/bootloader/bootloader.cpp
Due: clang-format

Fix compatibility with BBFv1 and update bootloader to v2.0.1
  utils/bootstrap.py
  utils/pack_fw.py
Due: none

bootloader: Use std::tie for version comparison
  src/bootloader/bootloader.cpp
Due: clang-format

Update scratch_buffer comment
  src/common/scratch_buffer.hpp
Due: clang-format

bootloader: Autodetect invalid bootloader and trigger update
  src/bootloader/bootloader.cpp
  src/common/shared_config.h
  src/common/sys.cpp
  src/common/sys.h
Due: clang-format

Update bootloader to v2.0.2
  utils/bootstrap.py
Due: none

FIX ME: Temporary get rid of serial_printing PNG to decrease FLASH usage
  src/gui/resource.c
Due: clang-format

Force progress update in-between bootstrap and update
  src/bootloader/bootloader.cpp
Due: clang-format

Fix default printer-subversion
  utils/pack_fw.py
Due: none

Remove debug-only code
  src/bootloader/bootloader.cpp
Due: clang-format

Fix big letters in menu items
  src/gui/MItem_menus.hpp
  src/gui/MItem_tools.hpp
Due: clang-format

Turn off translations
  src/gui/screen_menu_languages.cpp
  src/lang/translation_provider_CPUFLASH.cpp
Due: clang-format

Make bootloader update turnable off
  CMakeLists.txt
  include/bootloader/bootloader.hpp
  src/bootloader/bootloader.cpp
  src/gui/guimain.cpp
  src/resources/CMakeLists.txt
Due: clang-format

Split Bootloader Update implementation from bootloader.cpp
  CMakeLists.txt
  src/bootloader/bootloader.cpp
  src/bootloader/bootloader_update.cpp
Due: clang-format

Fix bootloader_update.h not being available on noboot variant
  CMakeLists.txt
Due: none

ESP flash: Handle no FW too
  src/gui/screen_home.cpp
Due: clang-format

Re-enable starting print of uploaded gcode
  lib/WUI/CMakeLists.txt
  lib/WUI/nhttp/gcode_upload.cpp
  lib/WUI/nhttp/gcode_upload.h
  lib/WUI/wui_api.cpp
  lib/WUI/wui_api.h
Due: clang-format

PrusaLink: Upload and print support
  src/resources/CMakeLists.txt
  src/resources/web/index.html
  src/resources/web/main.0727519d417955798a3f.js
  src/resources/web/main.535376bc509b8589ebc8.css
  src/resources/web/main.6361ede66c1c2b040b9b.js
  src/resources/web/main.b50d996779249951ed31.css
Due: none

Use the unique_file_ptr
  lib/WUI/nhttp/gcode_upload.cpp
  lib/WUI/nhttp/gcode_upload.h
Due: clang-format

HTTP client for connect
  CMakeLists.txt
  doc/logging_components.md
  lib/WUI/wui_api.h
  src/Connect/connect.cpp
  src/Connect/connect.hpp
  src/Connect/connect_error.h
  src/Connect/connection.hpp
  src/Connect/core_interface.cpp
  src/Connect/core_interface.hpp
  src/Connect/debug.h
  src/Connect/httpc.cpp
  src/Connect/httpc.hpp
  src/Connect/httpc_data.cpp
  src/Connect/httpc_data.hpp
  src/Connect/os_porting.cpp
  src/Connect/os_porting.hpp
  src/Connect/socket.cpp
  src/Connect/socket.hpp
  src/Connect/tls/tls.cpp
  src/common/config.h
  src/main.cpp
  tests/CMakeLists.txt
  tests/module/Connect/CMakeLists.txt
  tests/module/Connect/dev-tests.cmake
  tests/module/Connect/dev-tests.cpp
  tests/module/Connect/main.cpp
  tests/module/Connect/mock/core_interface.cpp
  tests/module/Connect/mock/marlin_client.h
  tests/module/Connect/readme.md
  tests/module/Connect/test-server/connect.py
  tests/module/Connect/test-server/response/response.json
  tests/module/Connect/test-server/tls/gen_cert.sh
Due: clang-format, generate-cmake-presets

connect: Fix eeprom
  src/common/eeprom.cpp
  src/common/eeprom.h
Due: clang-format

connect: Stitch connect, tls and config together
  CMakeLists.txt
  src/Connect/connect.cpp
  src/Connect/socket.hpp
  src/Connect/tls/tls.cpp
  src/Connect/tls/tls.hpp
Due: clang-format

Hack around for improperly flashed boards
  src/Connect/core_interface.cpp
  src/common/otp.c
  src/common/otp.h
Due: clang-format

cleanup: Remove unused function
  lib/WUI/wui_api.cpp
Due: clang-format

Use RAII to free addrinfo
  src/Connect/socket.cpp
Due: clang-format

connect: Configuration in eeprom
  CMakeLists.txt
  src/Connect/connect.cpp
  src/Connect/core_interface.cpp
  src/Connect/core_interface.hpp
  src/common/eeprom.cpp
  src/common/eeprom.h
  src/common/eeprom_v9.hpp
  src/gui/MItem_menus.cpp
  src/gui/MItem_menus.hpp
  src/gui/screen_menu_connect.cpp
  src/gui/screen_menu_settings.cpp
  src/gui/screen_menus.hpp
Due: clang-format

esp: Check ini write return value
  src/common/selftest/selftest_esp_update.cpp
Due: clang-format

footer: Rename fan items
  src/gui/footer/footer_item_fans.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

