Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-16-83817c2f/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets
  pass_filenames: false
  language: python
  language_version: python3

python3-requirements:
  name: python3-requirements
  description: Check if requirements.txt matches the buildsystem.
  entry: utils/check-requirements.py
  language: script

Remove M999_MCU_RESET #define
  include/marlin/Configuration_COREONE_adv.h
  include/marlin/Configuration_MINI_adv.h
  include/marlin/Configuration_XL_Dwarf_adv.h
  include/marlin/Configuration_iX_adv.h
Due: clang-format

Disable CNC_COORDINATE_SYSTEMS and Z_AXIS_CALIBRATION on CORE One
  include/marlin/Configuration_COREONE_adv.h
Due: clang-format

Disable REBOOT_RESTORE_Z on CORE One
  include/marlin/Configuration_COREONE_adv.h
Due: clang-format

Enable SQUARE_WAVE_STEPPING for MINI
  include/marlin/Configuration_MINI_adv.h
Due: clang-format

Enable SQUARE_WAVE_STEPPING for CORE One
  include/marlin/Configuration_COREONE_adv.h
Due: clang-format

Fix #4407 initial depenency bootstrapping fails
  requirements.txt
  src/common/marlin_server_types/python_binding/pyproject.toml
  utils/bootstrap.py
  utils/holly/Dockerfile
  utils/holly/IntegrationTestsDockerfile
  utils/holly/build-requirements.txt
Due: python3-requirements

MINI: Add Y tolerance
  src/common/selftest/selftest_MINI.cpp
Due: clang-format

PrimitiveAny: Add missing safety checks
  include/common/primitive_any.hpp
  src/guiapi/include/fsm_menu_item.hpp
Due: clang-format

MI_WIFI_SETUP: Use gui_try_gcode_with_msg
  src/gui/MItem_network.cpp
Due: clang-format

Reject probes based on angle after compression
  src/common/probe_analysis.cpp
Due: clang-format

coreone: Add missing HW_PWM_HEATERS define
  include/marlin/Configuration_COREONE.h
Due: clang-format

c1: Use the same thermistor as MK4
  include/marlin/Configuration_COREONE.h
Due: clang-format

Change Z offset to 20 microns
  src/common/probe_analysis.cpp
Due: clang-format

Retract after purge 2mm & add 2mm to load prime
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

Adjust fan selftest RPM limit for MK4S
  src/common/selftest/selftest_MK4.cpp
Due: clang-format

temporary: Add probe_load_line metric
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
Due: clang-format

hack: Disable probe_analysis unittest so we can pass pipeline
  tests/unit/common/probe_analysis/CMakeLists.txt
Due: none

Add probe_angle metric
  src/common/probe_analysis.cpp
  src/common/probe_analysis.hpp
Due: clang-format

fix: probe_load_line metric don't use vector
  src/common/probe_analysis.cpp
Due: clang-format

parser: skip gcode comments properly
  lib/Marlin/Marlin/src/gcode/parser.cpp
Due: none

fix: Fix probe_analysis unit tests
  src/common/probe_analysis.cpp
  tests/unit/common/probe_analysis/tests.cpp
Due: clang-format

Revert "hack: Disable probe_analysis unittest so we can pass pipeline"
  tests/unit/common/probe_analysis/CMakeLists.txt
Due: none

Fix TIM3 prescaler #ifdef
  src/device/stm32f4/peripherals.cpp
Due: clang-format

Be exhaustive in tim3 initialization to prevent future errors
  src/device/stm32f4/peripherals.cpp
Due: clang-format

Fix T1 dock offset not configurable on 5T XL
  src/gui/screen/toolhead/screen_toolhead_settings.cpp
Due: clang-format

c1: Adjust heatbed PID parameters
  include/marlin/Configuration_COREONE.h
Due: clang-format

app_metrics: fix bed_pwm metric recording
  src/common/app_metrics.cpp
Due: clang-format

Translations: Update POT file
  src/lang/po/Prusa-Firmware-Buddy.pot
Due: none

Translations: Update PO & MO files
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.mo
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

fix: Show buzzer volume control only with ST7789 display
  src/gui/screen_menu_tune.hpp
  src/gui/screen_menu_user_interface.hpp
Due: clang-format

Simplify preprocessor ifs in pins.h
  lib/Marlin/Marlin/src/pins/pins.h
Due: none

fix: Straigten up hwio macro if hell
  src/common/hwio_buddy_2209_02.cpp
Due: clang-format

Fix comment: there are 26 letters in the alphabet
  src/connect/printer_common.cpp
Due: clang-format

Fix disabling disabled phase stepping
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
Due: clang-format

Crash loudly with venom when reseting TMC while PS
  lib/Marlin/Marlin/src/module/stepper/trinamic.cpp
Due: none

app: Don't reset twice after cold start
  src/buddy/main.cpp
  src/common/appmain.cpp
Due: clang-format

chamber: Offset chamber temperature based on bed temperature
  src/common/feature/chamber/chamber.cpp
  src/common/feature/chamber/chamber.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
      Marlin/src/gcode/calibrate/M958.hpp
      Marlin/src/gcode/temperature/M106_M107.cpp
      Marlin/src/gcode/bedlevel/ubl/G29.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/esp-serial-flasher/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^lib/magic_enum/|
  ^lib/SG14/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
      Marlin/src/gcode/calibrate/M958.hpp
      Marlin/src/gcode/temperature/M106_M107.cpp
      Marlin/src/gcode/bedlevel/ubl/G29.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/esp-serial-flasher/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^lib/magic_enum/|
  ^lib/SG14/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  python3-requirements: any of: requirements\.txt$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
      Marlin/src/gcode/calibrate/M958.hpp
      Marlin/src/gcode/temperature/M106_M107.cpp
      Marlin/src/gcode/bedlevel/ubl/G29.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/esp-serial-flasher/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^lib/magic_enum/|
  ^lib/SG14/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

