Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-16-83817c2f/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

python3-requirements:
  name: python3-requirements
  description: Check if requirements.txt matches the buildsystem.
  entry: utils/check-requirements.py
  language: script

Connect Registration Dialog: edit text
  src/gui/dialogs/DialogConnectReg.cpp
Due: clang-format

Adjust Connect registration dialog layout to fit MINI display
  src/gui/dialogs/DialogConnectReg.cpp
Due: clang-format

Removed "Plenk"
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
Due: none

Enable DNS for sntp and set default to prusa3d.pool.ntp.org Ref: https://www.ntppool.org/
  lib/WUI/sntp/sntp_client.c
  lib/WUI/sntp/sntp_opts.h
Due: clang-format

Esp: Use bidirectional pings
  lib/WUI/espif.cpp
Due: clang-format

fixup! Esp: Use bidirectional pings
  lib/WUI/espif.cpp
Due: clang-format

Add tool for communicating with puppies
  utils/puppytool.py
Due: none

Clearing eeprom filament when filament is not detected by FS
  src/common/filament_sensors_handler.cpp
Due: clang-format

fixed missing puppy crash dump handlers for iX
  src/common/crash_dump/crash_dump_handlers.hpp
Due: clang-format

Remove unused png2cc shell script
  src/gui/res/png2cc.sh
Due: none

Remove unused hex2dfu utility
  CMakePresets.json
  utils/CMakeLists.txt
  utils/build.py
  utils/hex2dfu/CMakeLists.txt
  utils/hex2dfu/LICENSE
  utils/hex2dfu/README.md
  utils/hex2dfu/src/hex2dfu.c
Due: clang-format, generate-cmake-presets

Remove travis support
  utils/pack_fw.py
Due: none

Remove remnants of bin2cc host tool
  CMakePresets.json
  README.md
  utils/build.py
Due: generate-cmake-presets

Support quoted INI string values
  doc/ESP/README.md
  lib/inih/ini.c
Due: none

Support quoted INI string values
  lib/inih/ini.c
Due: none

Add launch/debug targets for Dwarf/ModBed
  .vscode/launch.json
Due: generate-cmake-presets

IS: Calib: Repeat measurement on failure
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
  lib/Marlin/Marlin/src/gcode/calibrate/M958.hpp
  src/marlin_stubs/M1959.cpp
Due: clang-format

AM: Init accelerometer in vibrate_measure()
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
  lib/Marlin/Marlin/src/gcode/calibrate/M958.hpp
  src/common/marlin_server_types/client_response.hpp
  src/gui/screen_input_shaper_calibration.cpp
  src/marlin_stubs/M1959.cpp
Due: clang-format

marlin: Fix build without PREVENT_COLD_EXTRUSION
  src/common/selftest/selftest_fsensor.cpp
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

M2x commands, EXTENDED_M20 support Implement M20 compatible with Marlin Align M23 & M24 compatibility with Marlin Add gcode M27 auto report support
  lib/Marlin/Marlin/src/gcode/gcode.h
  src/common/marlin_server.cpp
  src/common/media.cpp
  src/marlin_stubs/host/M115.cpp
  src/marlin_stubs/sdcard/M20-M30_M32-M34.cpp
Due: clang-format

Improve bool condition style.
  lib/Marlin/Marlin/src/gcode/calibrate/M958.cpp
Due: clang-format

planner: Fix coreXY max feedrate limiting
  include/marlin/Configuration_XL.h
  include/marlin/Configuration_iX.h
  lib/Marlin/Marlin/src/module/planner.cpp
Due: clang-format

Add gcode M27 auto report support
  lib/Marlin/Marlin/src/gcode/gcode.h
  src/common/marlin_server.cpp
  src/marlin_stubs/sdcard/M20-M30_M32-M34.cpp
Due: clang-format

Fix parsing of printer type for compatibility check
  src/marlin_stubs/M862_2_3.cpp
Due: clang-format

Add support for P and Q parameters for gcode M104.1
  src/marlin_stubs/M104_1.cpp
Due: clang-format

IO Expander: Better name for GCodePresetMacro
  src/common/gcode/inject_queue.cpp
  src/common/gcode/inject_queue_actions.hpp
Due: clang-format

InjectQueue: Move file size check to actual buffering
  src/common/gcode/inject_queue.cpp
Due: clang-format

InjectQueue: Add custom callback to InjectQueueRecord variant
  lib/Marlin/Marlin/src/gcode/queue.cpp
  src/common/gcode/inject_queue.cpp
  src/common/gcode/inject_queue.hpp
  src/common/gcode/inject_queue_actions.hpp
Due: clang-format

Save print compatibility setting on power panic
  lib/Marlin/Marlin/src/gcode/gcode.h
  src/common/power_panic.cpp
Due: clang-format

Save debug_flags on Power Panic
  src/common/power_panic.cpp
Due: clang-format

MINI: Show Disabled state in filament sensor info
  src/gui/MItem_MINI.cpp
  src/gui/MItem_MINI.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  python3-requirements: any of: requirements\.txt$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

