Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
    - id: cmake-format
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-16-83817c2f/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
    - id: python3-requirements
      name: python3-requirements
      description: Check if requirements.txt matches the buildsystem.
      entry: 'utils/check-requirements.py'
      language: script
      files: requirements\.txt$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^lib/Catch2/|
    ^lib/CrashCatcher/|
    ^lib/Drivers/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/serial-flasher/|
    ^lib/Marlin/(?!
        Marlin/src(/gcode)?/feature/prusa/|
        Marlin/src(/gcode)?/feature/input_shaper/|
        Marlin/src(/gcode)?/feature/pressure_advance/|
        Marlin/src(/gcode)?/feature/precise_stepping/|
        Marlin/src(/gcode)?/feature/phase_stepping/|
        Marlin/src/module/prusa/|
        Marlin/src/gcode/calibrate/M958.cpp
      )|
    ^lib/Middlewares/Third_Party/FatFs/|
    ^lib/Middlewares/Third_Party/FreeRTOS/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/|
    ^lib/Prusa-Error-Codes/|
    ^lib/Prusa-Firmware-MMU/|
    ^lib/QR/|
    ^lib/Segger|
    ^lib/TMCStepper/|
    ^lib/cpp-std-extensions/|
    ^lib/heatshrink/|
    ^lib/inih/|
    ^lib/jsmn/|
    ^lib/libbgcode/|
    ^lib/liblightmodbus/|
    ^lib/libsysbase/|
    ^lib/printf|
    ^lib/tinyusb/|
    ^tests/stubs/FreeRTOS|
    ^tests/unit/common/gcode/.*\.gcode$|
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
  )

homing/XL: Remove unused log component reference
  lib/Marlin/Marlin/src/module/prusa/homing_corexy.cpp
Due: clang-format

homing/XL: Move wait_for_standstill into trinamic
  lib/Marlin/Marlin/src/module/prusa/homing_corexy.cpp
  lib/Marlin/Marlin/src/module/stepper/trinamic.cpp
  lib/Marlin/Marlin/src/module/stepper/trinamic.h
Due: clang-format

homing/XL: correctly round steps when calculating backoff
  lib/Marlin/Marlin/src/module/prusa/homing_corexy.cpp
Due: clang-format

phstep: Set exact move targets
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
Due: clang-format

homing/XL: Remove last remnant of exception for phase stepping
  lib/Marlin/Marlin/src/module/prusa/homing_corexy.cpp
Due: clang-format

phstep: Reset last_processed_move when used with IS
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
Due: clang-format

phstep: Fix build without BURST
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
Due: clang-format

phstep: Don't check the maximum time on buffered steps
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

phstep: Fix finalization race by introducing a new busy state
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.hpp
Due: clang-format

phstep: Improve and document target naming
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
Due: clang-format

phstep: Synchronize time on all axes
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/precise_stepping/common.hpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

phstep: Don't stop generators prematurely when targets are full
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
Due: clang-format

connect: Fix build without connect
  src/gui/screen_menu_control.hpp
Due: clang-format

phstep: Unify some redundant constants
  include/buddy/phase_stepping_opts.h
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
Due: clang-format

phstep: Don't drift in time when pulling new targets after draining
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
Due: clang-format

phstep: Remove unused log component reference
  lib/Marlin/Marlin/src/gcode/feature/phase_stepping/M970-M977.cpp
Due: clang-format

PS: Don't check maximum time on buffered steps (continued)
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

PS: Convert ticks_per_sec/stepper_isr_period_in_ticks to constants
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.hpp
Due: clang-format

PS: Further improve check_step_time performance
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

PS: Remove unused argument to check_step_time
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

phstep: Truly stop immediately
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

PS: Avoid check_step_time warnings in release build
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

Fix Motion_Parameters::save saving wrong settings
  lib/Marlin/Marlin/src/module/planner.cpp
Due: none

MK4,MINI: Increase HWlimit accel=7k, jerk=10
  include/marlin/Configuration_MINI.h
  include/marlin/Configuration_MK4.h
Due: clang-format

Rewrite font generation scripts to have character set option
  utils/translations_and_fonts/README_FONTS.md
  utils/translations_and_fonts/README_TRANSLATIONS.md
  utils/translations_and_fonts/bin2cc.py
  utils/translations_and_fonts/font.py
  utils/translations_and_fonts/generate_all_fonts.sh
  utils/translations_and_fonts/generate_single_font.sh
  utils/translations_and_fonts/lang.py
  utils/translations_and_fonts/replace_unsupported_chars.py
  utils/translations_and_fonts/script.sh
Due: none

Add new resources for japanese
  src/gui/res/fnt_src/11x18px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/11x19px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/12x21px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/13x22px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/30x53px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/7x13px_migu-1m-regular_katakana.png
  src/gui/res/fnt_src/9x16px_migu-1m-regular_katakana.png
  src/gui/res/mini_used_imgs.txt
  src/gui/res/png/flag_jp_16x11.png
  src/gui/res/png_before_resize/flag_jp_16x11.png
Due: none

Update POT, PO & MO files (Translations)
  src/lang/po/Prusa-Firmware-Buddy.pot
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/jp/Prusa-Firmware-Buddy_jp.mo
  src/lang/po/jp/Prusa-Firmware-Buddy_jp.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Change loadcell selftest font from LARGE to BIG
  src/gui/wizard/selftest_frame_loadcell.cpp
Due: clang-format

Add japanese lang option to FW + adapt to character set option
  ProjectOptions.cmake
  src/common/utils/font_character_sets.hpp
  src/gui/fonts.hpp
  src/gui/screen_menu_languages.cpp
  src/gui/screen_menu_languages.hpp
  src/guiapi/src/display_helper.cpp
  src/lang/CMakeLists.txt
  tests/unit/lang/translator/fnt-indices.cpp
  tests/unit/lang/translator/fnt-indices.hpp
Due: clang-format

Implement new language in translation provider and unit tests
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_CPUFLASH.hpp
  src/lang/translation_provider_FILE.cpp
  tests/unit/gui/window/tests_layout.cpp
  tests/unit/lang/translator/option/enable_translation_jp.h
  tests/unit/lang/translator/providerCPUFLASH.cpp
  tests/unit/lang/translator/providerFILE.cpp
Due: clang-format

Regenerate all fonts
  src/gui/res/cc/font_bold_11x19.hpp
  src/gui/res/cc/font_bold_13x22.hpp
  src/gui/res/cc/font_bold_30x53.hpp
  src/gui/res/cc/font_regular_11x18.hpp
  src/gui/res/cc/font_regular_7x13.hpp
  src/gui/res/cc/font_regular_9x16.hpp
  src/gui/res/fnt_png/font_bold_11x19.png
  src/gui/res/fnt_png/font_bold_11x19_preview.png
  src/gui/res/fnt_png/font_bold_13x22.png
  src/gui/res/fnt_png/font_bold_13x22_preview.png
  src/gui/res/fnt_png/font_bold_30x53.png
  src/gui/res/fnt_png/font_bold_30x53_preview.png
  src/gui/res/fnt_png/font_regular_11x18.png
  src/gui/res/fnt_png/font_regular_11x18_preview.png
  src/gui/res/fnt_png/font_regular_7x13.png
  src/gui/res/fnt_png/font_regular_7x13_preview.png
  src/gui/res/fnt_png/font_regular_9x16.png
  src/gui/res/fnt_png/font_regular_9x16_preview.png
  src/guiapi/include/fnt-digits-indices.ipp
  src/guiapi/include/fnt-full-indices.ipp
  src/guiapi/include/fnt-standard-indices.ipp
Due: clang-format

Bump version to 6.0.1
  version.txt
Due: none

Add MINI build configuration for japanese translations
  CMakePresets.json
  utils/presets/presets.json
Due: generate-cmake-presets

Update days
  .github/workflows/stale.yml
Due: none

Initial stale issuw workflow
  .github/workflows/stale.yml
Due: none

Fix M260 & M261 for MINI (wrong i2c interface)
  include/device/stm32f4/device/peripherals.h
  lib/Marlin/Marlin/src/feature/twibus.cpp
Due: clang-format

Update transfer.cpp
  src/transfers/transfer.cpp
Due: clang-format

cz-typo-fix
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
Due: none
