Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets, python3-requirements

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-16-83817c2f/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

python3-requirements:
  name: python3-requirements
  description: Check if requirements.txt matches the buildsystem.
  entry: utils/check-requirements.py
  language: script

ScreenNetworkSetup: Fix truncation on Mini
  src/gui/screen_network_setup.cpp
Due: clang-format

string_view_utf8: Drop length cached value
  src/lang/string_view_utf8.cpp
  src/lang/string_view_utf8.hpp
Due: clang-format

string_view_utf8: Drop unused EType values
  src/lang/string_view_utf8.hpp
Due: clang-format

string_view_utf8: Refactor
  src/lang/string_view_utf8.cpp
  src/lang/string_view_utf8.hpp
Due: clang-format

Even more stack space is needed for filament sensor calibration
  src/buddy/main.cpp
Due: clang-format

PS: Propagate the current active/direction flags in keep alive events
  lib/Marlin/Marlin/src/feature/input_shaper/input_shaper.cpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  lib/Marlin/Marlin/src/feature/pressure_advance/pressure_advance.cpp
Due: clang-format

PS: Return the last direction when the axis is idle
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

PS: Initialize the last direction flags in all step generators
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
Due: clang-format

Drop ExtensionLikeLabel
  src/gui/dialogs/window_dlg_preheat.cpp
  src/guiapi/include/WindowMenuInfo.hpp
  src/guiapi/include/i_window_menu_item.hpp
  src/guiapi/src/WindowMenuInfo.cpp
Due: clang-format

IWiInfo: Always calculate extension width
  src/gui/MItem_hardware.hpp
  src/gui/MItem_network.cpp
  src/gui/screen_prusa_link.cpp
  src/guiapi/include/WindowMenuInfo.hpp
  src/guiapi/src/WindowMenuInfo.cpp
Due: clang-format

iX: Center homing point of both probes on the X axis
  include/marlin/Configuration_iX.h
Due: clang-format

iX: Move the origin of the coordinate system
  include/marlin/Configuration_iX.h
Due: clang-format

phstep: Decouple enable/active flags to fix conditional race
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping_dummies.hpp
  lib/Marlin/Marlin/src/gcode/feature/phase_stepping/M970-M977.cpp
  lib/Marlin/Marlin/src/module/stepper/trinamic.cpp
  lib/TMCStepper/src/source/TMC2130Stepper.cpp
  src/common/thread_measurement.cpp
Due: clang-format

phstep: Get rid of std::optional<> and dynamic AxisState allocation
  lib/Marlin/Marlin/src/feature/phase_stepping/calibration.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  lib/Marlin/Marlin/src/gcode/feature/phase_stepping/M970-M977.cpp
Due: clang-format

Use std::atomic and ensure lock-free behavior of index types
  lib/Marlin/Marlin/src/libs/circularqueue.h
Due: none

Make the circular index type a word to avoid UTXB instructions
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
Due: clang-format

phstep/burst: Perform sanity checks at synchronize
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
  lib/Marlin/Marlin/src/module/planner.cpp
Due: clang-format

Avoid the need for critical section around phase stepping target queue
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.cpp
  lib/Marlin/Marlin/src/feature/phase_stepping/phase_stepping.hpp
  lib/Marlin/Marlin/src/libs/circularqueue.h
Due: clang-format

Make IWindowMenuItem dtor protected
  src/gui/screen_network_setup.cpp
  src/gui/window_file_list.cpp
  src/gui/window_file_list.hpp
  src/guiapi/include/i_window_menu_item.hpp
Due: clang-format

Log computed input shaper parameters in wizard
  src/marlin_stubs/M1959.cpp
Due: clang-format

Remove bunch more of virtual destructors
  include/leds/led_strip.hpp
  src/buddy/littlefs_bbf.cpp
  src/common/automata/core.h
  src/common/fanctl/CFanCtlCommon.hpp
  src/common/filament_sensor.hpp
  src/common/gcode/gcode_reader_interface.hpp
  src/common/http/connection.hpp
  src/common/http/httpc.hpp
  src/common/http/post_file_request.hpp
  src/common/http/resp_parser.h
  src/common/http/socket_connection_factory.hpp
  src/common/marlin_server.hpp
  src/common/segmented_json.h
  src/common/selftest/i_selftest.hpp
  src/connect/printer.hpp
  src/connect/sleep.cpp
  src/gui/led_animations/animation.hpp
  src/gui/screen_cold_pull.cpp
  src/gui/wizard/selftest_view_item.hpp
  src/guiapi/include/window_filter.hpp
  src/hw/touchscreen/touchscreen_common.hpp
  src/lang/translation_provider.hpp
  src/lang/translation_provider_CPUFLASH.hpp
  src/lang/translation_provider_FILE.hpp
  src/marlin_stubs/include/IPause.hpp
  src/persistent_stores/storage_drivers/storage.hpp
  src/puppy/shared/modbus/ModbusBuffer.hpp
  tests/unit/gui/window/mock_display.hpp
Due: clang-format

Make window_t destructor protected
  src/gui/dialogs/DialogConnectReg.hpp
  src/gui/screen_crash_recovery.hpp
  src/gui/screen_qr_error.hpp
  src/guiapi/include/window.hpp
  tests/unit/gui/window/mock_windows.hpp
  tests/unit/gui/window/tests_layout.cpp
  tests/unit/gui/window/tests_window.cpp
Due: clang-format

Make ~window_t nonvirtual
  src/gui/dialogs/DialogConnectReg.hpp
  src/gui/dialogs/DialogLoadUnload.hpp
  src/gui/dialogs/liveadjust_z.hpp
  src/gui/screen_crash_recovery.hpp
  src/gui/screen_home.hpp
  src/gui/screen_phase_stepping.hpp
  src/gui/screen_splash.hpp
  src/guiapi/include/window.hpp
  src/guiapi/include/window_frame.hpp
Due: clang-format

websocket: Pong is not fragmented
  src/connect/connect.cpp
Due: clang-format

ScreenCrashRecovery: Fix wrong initial phase
  src/gui/screen_crash_recovery.cpp
  src/gui/screen_crash_recovery.hpp
Due: clang-format

mk3.5: Make sure P.I.N.D.A. stays on print sheet during bed leveling
  include/marlin/Configuration_MK3.5_adv.h
Due: clang-format

Bump version to 6.2.0
  version.txt
Due: none

espif: Remove waiting hack
  lib/WUI/espif.cpp
Due: clang-format

Add automated script for PO files integration
  utils/translations_and_fonts/README_TRANSLATIONS.md
  utils/translations_and_fonts/new_translations.sh
  utils/translations_and_fonts/replace_unsupported_chars.py
Due: none

Delete deprecated font generation script
  utils/translations_and_fonts/script.sh
Due: none

Change japanese language code JP to ISO 639's JA
  CMakePresets.json
  ProjectOptions.cmake
  src/gui/fonts.cpp
  src/gui/res/mini_used_imgs.txt
  src/gui/res/png/flag_ja_16x11.png
  src/gui/res/png_before_resize/flag_ja_16x11.png
  src/gui/screen_menu_languages.hpp
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.mo
  src/lang/po/ja/Prusa-Firmware-Buddy_ja.po
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_FILE.cpp
  tests/unit/lang/translator/option/enable_translation_ja.h
  tests/unit/lang/translator/option/enable_translation_jp.h
  tests/unit/lang/translator/providerCPUFLASH.cpp
  tests/unit/lang/translator/providerFILE.cpp
  utils/presets/presets.json
Due: clang-format, generate-cmake-presets

Create script for POT file generation
  utils/translations_and_fonts/README_TRANSLATIONS.md
  utils/translations_and_fonts/generate_pot.sh
Due: none

Enable NFC for MK3.5
  ProjectOptions.cmake
Due: none

esp: Firmware update
  src/resources/esp32/uart_wifi.bin
  src/resources/esp8266/uart_wifi.bin
Due: none

espif: Reset uart parser when reseting the esp
  lib/WUI/espif.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

  python3-requirements: any of: requirements\.txt$, but not: (?x)(
  ^lib/Catch2/|
  ^lib/CrashCatcher/|
  ^lib/Drivers/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/serial-flasher/|
  ^lib/Marlin/(?!
      Marlin/src(/gcode)?/feature/prusa/|
      Marlin/src(/gcode)?/feature/input_shaper/|
      Marlin/src(/gcode)?/feature/pressure_advance/|
      Marlin/src(/gcode)?/feature/precise_stepping/|
      Marlin/src(/gcode)?/feature/phase_stepping/|
      Marlin/src/module/prusa/|
      Marlin/src/gcode/calibrate/M958.cpp
    )|
  ^lib/Middlewares/Third_Party/FatFs/|
  ^lib/Middlewares/Third_Party/FreeRTOS/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/|
  ^lib/Prusa-Error-Codes/|
  ^lib/Prusa-Firmware-MMU/|
  ^lib/QR/|
  ^lib/Segger|
  ^lib/TMCStepper/|
  ^lib/cpp-std-extensions/|
  ^lib/heatshrink/|
  ^lib/inih/|
  ^lib/jsmn/|
  ^lib/libbgcode/|
  ^lib/liblightmodbus/|
  ^lib/libsysbase/|
  ^lib/printf|
  ^lib/tinyusb/|
  ^tests/stubs/FreeRTOS|
  ^tests/unit/common/gcode/.*\.gcode$|
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$
)

