Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/dragomirecky/cmake-format-pre-commit-hook
  rev: 'v0.6.0'
  hooks:
    - id: cmake-format  # cmake formatter
      files: (^|/)(CMakeLists.*|.*\.cmake|.*\.cmake.in)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-9.0.0-noext/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/
  )

Move few icons to xFlash
  src/gui/res/cc/png_wizard_icon_autohome.c
  src/gui/res/cc/png_wizard_icon_measure.c
  src/gui/res/cc/png_wizard_icon_search.c
  src/gui/resource.c
  src/gui/resource.h
  src/gui/test/screen_test_wizard_icons.cpp
  src/resources/CMakeLists.txt
  src/resources/png/wizard_icon_autohome.png
  src/resources/png/wizard_icon_measure.png
  src/resources/png/wizard_icon_search.png
Due: clang-format

Connect: Reasons in Rejected events
  src/connect/command.hpp
  src/connect/planner.cpp
  src/connect/planner.hpp
  src/connect/render.cpp
  tests/unit/connect/render.cpp
Due: clang-format

connect: Minor code cleanups
  tests/unit/connect/render.cpp
Due: clang-format

ESP v8
  lib/WUI/espif.cpp
  src/resources/esp/bootloader.bin
  src/resources/esp/uart_wifi.bin
Due: clang-format

Marlin/endstops: Incremental update from 2.1.x
  lib/Marlin/Marlin/src/HAL/shared/Marduino.h
  lib/Marlin/Marlin/src/core/language.h
  lib/Marlin/Marlin/src/core/serial.h
  lib/Marlin/Marlin/src/gcode/host/M119.cpp
  lib/Marlin/Marlin/src/inc/Conditionals_LCD.h
  lib/Marlin/Marlin/src/inc/Conditionals_post.h
  lib/Marlin/Marlin/src/module/endstops.cpp
  lib/Marlin/Marlin/src/module/endstops.h
Due: none

Fix typo in rolling debug text
  src/gui/screen_home.cpp
Due: clang-format

Connect: hostname compression
  src/connect/CMakeLists.txt
  src/connect/hostname.cpp
  src/connect/hostname.hpp
  src/connect/marlin_printer.cpp
  src/connect/printer.hpp
  tests/unit/connect/CMakeLists.txt
  tests/unit/connect/hostname.cpp
Due: clang-format

Fix printf format specifier
  src/common/http/httpc.cpp
Due: clang-format

Adjust png namings
  src/common/bsod_gui.cpp
  src/gui/IScreenPrinting.cpp
  src/gui/MItem_tools.cpp
  src/gui/dialogs/DialogMoveZ.cpp
  src/gui/dialogs/liveadjust_z.cpp
  src/gui/resource.h
  src/gui/screen_crash_recovery.cpp
  src/gui/screen_home.cpp
  src/gui/screen_menu_info.cpp
  src/gui/screen_print_preview.cpp
  src/gui/screen_qr_error.cpp
  src/gui/version_info_ST7789V.cpp
  src/gui/window_header.cpp
  src/gui/wizard/selftest_frame_esp_qr.cpp
  src/gui/wizard/selftest_frame_wizard_epilogue.cpp
  src/gui/wizard/selftest_frame_wizard_epilogue.hpp
  src/gui/wizard/selftest_frame_wizard_prologue.cpp
  src/gui/wizard/selftest_frame_wizard_prologue.hpp
  src/guiapi/src/window_msgbox.cpp
Due: clang-format

Create selftest feature insted compile definition
  CMakeLists.txt
  ProjectOptions.cmake
  src/common/marlin_server.cpp
  src/gui/dialogs/DialogHandler.cpp
  src/gui/screen_menu_settings.cpp
  src/gui/screen_splash.cpp
  src/gui/test/screen_test.cpp
  src/marlin_stubs/M997.cpp
Due: clang-format

Add new eeprom impplementation
  src/common/CMakeLists.txt
  src/common/appmain.cpp
  src/common/configuration_store.cpp
  src/common/configuration_store.hpp
  src/common/crc32.c
  src/common/eeprom_acces.h
  src/common/filament.cpp
  src/common/mem_config_item.hpp
  src/common/msgpack.h
  src/common/st25dv64k.h
  tests/unit/common/CMakeLists.txt
  tests/unit/common/eeprom/CMakeLists.txt
  tests/unit/common/eeprom/dummy_eeprom_chip.cpp
  tests/unit/common/eeprom/dummy_eeprom_chip.h
  tests/unit/common/eeprom/eeprom_test.cpp
Due: clang-format

Add python script for generating structure
  src/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/appmain.cpp
  src/common/configuration_store.cpp
  src/common/configuration_store.hpp
  src/common/eeprom_acces.h
  src/common/mem_config_item.hpp
  src/common/msgpack.h
  src/common/selftest/selftest_MINI.cpp
  src/configuration_store/CMakeLists.txt
  src/configuration_store/ConfigurationStoreUtils.cmake
  src/configuration_store/configuration_store.hpp
  src/configuration_store/eeprom_access.cpp
  src/configuration_store/eeprom_access.hpp
  src/configuration_store/hash_table.hpp
  src/configuration_store/item_updater.hpp
  src/configuration_store/mem_config_item.hpp
  src/configuration_store/store_structure.json
  src/device/stm32f4/linker/stm32f407vg.ld
  src/gui/screen_splash.cpp
  tests/unit/common/eeprom/CMakeLists.txt
  tests/unit/common/eeprom/bsod.cpp
  tests/unit/common/eeprom/dummy_eeprom_chip.cpp
  tests/unit/common/eeprom/dummy_eeprom_chip.h
  tests/unit/common/eeprom/eeprom_test.cpp
  tests/unit/common/eeprom/set_tests.cpp
  tests/unit/common/eeprom/store_structure.json
  utils/configuration_store/structure_generator.py
  utils/configuration_store/test.py
Due: clang-format, generate-cmake-presets

fixup! Add python script for generating structure
  CMakeLists.txt
  src/configuration_store/eeprom_access.cpp
  src/configuration_store/eeprom_access.hpp
  src/configuration_store/store_structure.json
  utils/configuration_store/structure_generator.py
  utils/configuration_store/test.py
Due: clang-format, generate-cmake-presets

Add configuration_store namespace
  src/common/appmain.cpp
  src/configuration_store/CMakeLists.txt
  src/configuration_store/configuration_store.cpp
  src/configuration_store/configuration_store.hpp
  src/configuration_store/eeprom_access.cpp
  src/configuration_store/eeprom_access.hpp
  src/configuration_store/item_updater.hpp
  src/configuration_store/mem_config_item.hpp
  tests/unit/CMakeLists.txt
  tests/unit/common/CMakeLists.txt
  tests/unit/configuration_store/CMakeLists.txt
  tests/unit/configuration_store/bsod.cpp
  tests/unit/configuration_store/dummy_eeprom_chip.cpp
  tests/unit/configuration_store/dummy_eeprom_chip.h
  tests/unit/configuration_store/eeprom_test.cpp
  tests/unit/configuration_store/set_tests.cpp
  tests/unit/configuration_store/store_structure.json
  utils/configuration_store/structure_generator.py
Due: clang-format, generate-cmake-presets

echo:bootstrap finished
  src/gui/guimain.cpp
Due: clang-format

Marlin/motion: Move/indent code blocks
  lib/Marlin/Marlin/src/module/motion.cpp
Due: none

Marlin/motion: Update HAS_SOFTWARE_ENDSTOPS from 2.1.x
  lib/Marlin/Marlin/src/module/motion.cpp
  lib/Marlin/Marlin/src/module/motion.h
Due: none

Marlin/language: Pull new axis names from 2.1.x
  lib/Marlin/Marlin/src/core/language.h
Due: none

Marlin/motion: Update HAS_ENDSTOPS from 2.1.x
  lib/Marlin/Marlin/src/module/motion.cpp
  lib/Marlin/Marlin/src/module/motion.h
Due: none

Marlin/motion: Simplify one expression
  lib/Marlin/Marlin/src/module/motion.cpp
Due: none

Fix typo in README
  README.md
Due: none

Remove heater simulator from FW
  src/common/CMakeLists.txt
  src/common/adc.hpp
  src/common/config_buddy_2209_02.h
  src/common/hwio_buddy_2209_02.cpp
  src/common/sim_bed.c
  src/common/sim_bed.h
  src/common/sim_heater.cpp
  src/common/sim_heater.h
  src/common/sim_nozzle.c
  src/common/sim_nozzle.h
Due: clang-format

Remove old unused icons for messagebox (error white48, info48, question48, warning48)
  src/common/client_response_texts.cpp
  src/gui/res/cc/png_error_white_48px.c
  src/gui/res/cc/png_info_48px.c
  src/gui/res/cc/png_question_48px.c
  src/gui/res/cc/png_warning_48px.c
  src/gui/res/png/error_white_48px.png
  src/gui/res/png/info_48px.png
  src/gui/res/png/question_48px.png
  src/gui/res/png/warning_48px.png
  src/gui/resource.c
  src/gui/resource.h
Due: clang-format

Remove unused wizard icons
  src/gui/screen_test_wizard_icons.hpp
  src/gui/test/screen_test_wizard_icons.cpp
  src/resources/CMakeLists.txt
  src/resources/png/wizard_icon_autohome.png
  src/resources/png/wizard_icon_measure.png
  src/resources/png/wizard_icon_search.png
Due: clang-format

Put some icons back
  src/gui/resource.h
  src/resources/CMakeLists.txt
  src/resources/png/error_white_48px.png
  src/resources/png/info_48px.png
  src/resources/png/question_48px.png
  src/resources/png/warning_48px.png
Due: clang-format

connect: New CA
  src/connect/tls/certificate.h
Due: clang-format

Move dump to folder
  src/buddy/main.cpp
  src/common/CMakeLists.txt
  src/common/appmain.cpp
  src/common/bsod_gui.cpp
  src/common/crash_dump/CMakeLists.txt
  src/common/crash_dump/dump.cpp
  src/common/crash_dump/dump.h
  src/device/stm32f4/interrupts.c
  src/gui/MItem_tools.cpp
  src/gui/guimain.cpp
  src/gui/screen_qr_error.cpp
  utils/dumpread/src/dump.c
  utils/dumpread/src/dump_marlinapi.h
  utils/dumpread/src/dump_rtos.h
  utils/dumpread/src/main.c
Due: clang-format
