Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/dragomirecky/cmake-format-pre-commit-hook
  rev: 'v0.6.0'
  hooks:
    - id: cmake-format  # cmake formatter
      files: (^|/)(CMakeLists.*|.*\.cmake|.*\.cmake.in)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-9.0.0-noext/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/
  )

Remove logo to fit code in flash
  src/gui/resource.c
  src/gui/resource.h
  src/gui/screen_home.cpp
Due: clang-format

Fix Wifi creation and loading of ini file.
  src/marlin_stubs/CMakeLists.txt
Due: none

gui: Fix menu move and make simple test
  src/gui/screen_menu_move.cpp
Due: clang-format

gui: Move focus handling from menu to container, fix menu draw after item hide
  src/gui/screen_menu_sensor_info.cpp
  src/guiapi/include/IWinMenuContainer.hpp
  src/guiapi/include/WinMenuContainer.hpp
  src/guiapi/include/i_window_menu_container.hpp
  src/guiapi/include/i_window_menu_item.hpp
  src/guiapi/include/window_menu.hpp
  src/guiapi/include/window_menu_adv.hpp
  src/guiapi/src/CMakeLists.txt
  src/guiapi/src/i_window_menu_container.cpp
  src/guiapi/src/i_window_menu_item.cpp
  src/guiapi/src/window_menu.cpp
Due: clang-format

Rename some menu files according to new naming convention
  src/guiapi/include/WindowMenuItems.hpp
  src/guiapi/include/WindowMenuLabel.hpp
  src/guiapi/include/i_window_menu.hpp
  src/guiapi/include/i_window_menu_item.hpp
  src/guiapi/include/window_menu.hpp
  src/guiapi/src/CMakeLists.txt
  src/guiapi/src/i_window_menu_item.cpp
Due: clang-format

Cleanup: Get rid of useless return value
  lib/WUI/espif.cpp
  lib/WUI/espif.h
Due: clang-format

Create develompent item option
  CMakePresets.json
  ProjectOptions.cmake
  src/guiapi/include/GuiDefaults.hpp
  tests/unit/gui/window/CMakeLists.txt
  utils/holly/build-pr.jenkins
  utils/presets/presets.json
Due: clang-format, generate-cmake-presets

fixup! Add features
  lib/Marlin/Marlin/src/feature/prusa/crash_recovery.cpp
  lib/Marlin/Marlin/src/feature/prusa/crash_recovery.h
  lib/Marlin/Marlin/src/feature/prusa/homing.cpp
  lib/Marlin/Marlin/src/feature/prusa/homing.h
  lib/Marlin/Marlin/src/feature/prusa/measure_axis.cpp
  lib/Marlin/Marlin/src/feature/prusa/measure_axis.h
  lib/Marlin/Marlin/src/gcode/feature/trinamic/M911-M914.cpp
  lib/Marlin/Marlin/src/inc/Conditionals_post.h
  lib/Marlin/Marlin/src/module/motion.cpp
  lib/Marlin/Marlin/src/module/probe.cpp
Due: none

fixup! Merge branch 'RELEASE' into MERGE_210108
  lib/Marlin/Marlin/src/MarlinCore.cpp
Due: none

Add Arduion IWatchdog.h
  lib/Arduino_Core_Buddy/CMakeLists.txt
  lib/Arduino_Core_Buddy/lib/IWatchdog/IWatchdog.h
Due: clang-format

fixup! Marlin: Provide draining of motion buffer
  lib/Marlin/Marlin/src/module/planner.cpp
Due: none

fixup! marlin: queue - function enqueue_one added parametr 'echo' to allow enqueue without echo
  lib/Marlin/Marlin/src/gcode/queue.cpp
Due: none

fixup! Include Marlin.h in motion.cpp.
  lib/Marlin/Marlin/src/MarlinCore.cpp
  lib/Marlin/Marlin/src/feature/host_actions.h
  lib/Marlin/Marlin/src/module/motion.cpp
Due: none

fixup! Marlin: add handy functions to planner and motion.
  lib/Marlin/Marlin/src/module/motion.cpp
Due: none

fixup! Add features
  lib/Marlin/Marlin/src/module/motion.cpp
Due: none

Don't lose the finished printing screen on request
  lib/WUI/wui_api.cpp
  src/common/marlin_client.c
  src/common/marlin_client.h
  src/connect/marlin_printer.cpp
Due: clang-format

Make a distinction between image-preview and questions
  lib/WUI/link_content/basic_gets.cpp
  src/common/marlin_client.c
  src/common/marlin_print_preview.cpp
  src/common/marlin_print_preview.hpp
  src/common/marlin_server.cpp
  src/common/marlin_vars.h
  src/connect/marlin_printer.cpp
  src/connect/printer.hpp
  src/connect/render.cpp
  src/gui/screen_printing.cpp
Due: clang-format

Cleanup of the Attention state
  lib/WUI/link_content/basic_gets.cpp
  lib/WUI/nhttp/job_command_marlin.cpp
  src/common/marlin_server.cpp
  src/connect/marlin_printer.cpp
  src/connect/render.cpp
Due: clang-format

Don't displace preview with another preview
  lib/WUI/wui_api.cpp
  src/common/marlin_client.c
  src/common/marlin_client.h
  src/connect/marlin_printer.cpp
Due: clang-format

link: Don't return Conflict if not asked to print
  lib/WUI/wui_api.cpp
Due: clang-format

Refuse remote print commands if they can't be performed
  lib/WUI/wui_api.cpp
  src/common/marlin_client.c
  src/common/marlin_client.h
  src/common/marlin_server.cpp
  src/common/marlin_vars.h
  src/common/print_utils.hpp
  src/connect/marlin_printer.cpp
  src/gui/guimain.cpp
Due: clang-format

fixup! Add features
  lib/Marlin/Marlin/src/module/planner.cpp
Due: none

fixup! Add features
  lib/Marlin/Marlin/src/module/stepper.cpp
Due: none

fixup! Add features
  lib/Marlin/Marlin/src/module/probe.cpp
Due: none

fixup! Add features
  lib/Marlin/Marlin/src/module/temperature.cpp
Due: none

Create separate items for label and value
  src/gui/screen_prusa_link.cpp
Due: clang-format

connect: Give up sending event after max attempts
  src/common/http/httpc.cpp
  src/connect/planner.cpp
  src/connect/planner.hpp
Due: clang-format

Option: Avoid rebuilds.
  cmake/Options.cmake
Due: none

Report bootstrap to log.
  src/gui/guimain.cpp
Due: clang-format
