Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/dragomirecky/cmake-format-pre-commit-hook
  rev: 'v0.6.0'
  hooks:
    - id: cmake-format  # cmake formatter
      files: (^|/)(CMakeLists.*|.*\.cmake|.*\.cmake.in)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-9.0.0-noext/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/
  )

vscode: Add plugin OutputColorizer to recommended
  .vscode/extensions.json
Due: generate-cmake-presets

Fix footer item and name pairing
  src/common/footer_def.hpp
  src/gui/footer/footer_item_axis.cpp
Due: clang-format

fix: algorithm_range with floats and NAN, added tests
  src/common/algorithm_range.hpp
  tests/unit/common/algorithm_range_tests.cpp
Due: clang-format

fix: Missing named object for AutoRestore RAII
  src/gui/gui_fsensor_api.hpp
Due: clang-format

Add nodiscard attribute to AutoRestore
  src/common/RAII.hpp
Due: clang-format

Increase GUI task stack size to 5KB
  src/buddy/main.cpp
Due: clang-format

gui: Fix header alignment
  src/gui/window_header.cpp
Due: clang-format

Make integration tests runable again (bootstrap support)
  pyproject.toml
  src/common/marlin_server.cpp
  src/common/marlin_server.h
  src/common/print_utils.cpp
  tests/integration/actions/screen.py
  tests/integration/conftest.py
  tests/integration/test_prusa_link.py
  utils/simulator/printer.py
  utils/simulator/simulator.py
Due: clang-format

Move few icons to xFlash
  src/gui/res/cc/png_wizard_icon_autohome.c
  src/gui/res/cc/png_wizard_icon_measure.c
  src/gui/res/cc/png_wizard_icon_search.c
  src/gui/resource.c
  src/gui/resource.h
  src/gui/test/screen_test_wizard_icons.cpp
  src/resources/CMakeLists.txt
  src/resources/png/wizard_icon_autohome.png
  src/resources/png/wizard_icon_measure.png
  src/resources/png/wizard_icon_search.png
Due: clang-format

network: Implement PostFile request
  src/common/http/CMakeLists.txt
  src/common/http/post_file_request.cpp
  src/common/http/post_file_request.hpp
Due: clang-format

network: Implement socket connection factory
  src/common/http/CMakeLists.txt
  src/common/http/socket_connection_factory.cpp
  src/common/http/socket_connection_factory.hpp
Due: clang-format

cmake-format: Make target_sources sortable
  .cmake-format.py
Due: none

Update cmake-format
  .pre-commit-config.yaml
Due: none

Reformat all cmake files
  CMakeLists.txt
  cmake/Littlefs.cmake
  cmake/Utilities.cmake
  lib/ESP/CMakeLists.txt
  lib/WUI/CMakeLists.txt
  src/buddy/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/http/CMakeLists.txt
  src/common/selftest/CMakeLists.txt
  src/connect/CMakeLists.txt
  src/connect/tls/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/gui/test/CMakeLists.txt
  src/guiapi/src/CMakeLists.txt
  src/logging/CMakeLists.txt
  src/marlin_stubs/CMakeLists.txt
  src/marlin_stubs/pause/CMakeLists.txt
  src/resources/CMakeLists.txt
  src/segger/CMakeLists.txt
  tests/module/Connect/CMakeLists.txt
  tests/module/Connect/dev-tests.cmake
Due: none

network: HeaderOut use variant value
  src/common/http/httpc.cpp
  src/common/http/httpc.hpp
  src/common/http/post_file_request.cpp
  src/common/http/post_file_request.hpp
  src/common/utils/overloaded_visitor.hpp
Due: clang-format

HWIO update docs
  src/common/Pin.hpp
  src/common/hwio_pindef_check.cpp
Due: clang-format

Improve UART and WiFi latency
  main/0001-Move-UART-ISR-to-IRAM.patch
  main/uart_nic.c
  sdkconfig
Due: clang-format

Version 8
  main/uart_nic.c
Due: clang-format

ESP v8
  lib/WUI/espif.cpp
  src/resources/esp/bootloader.bin
  src/resources/esp/uart_wifi.bin
Due: clang-format

Remove unused wizard icons
  src/gui/screen_test_wizard_icons.hpp
  src/gui/test/screen_test_wizard_icons.cpp
  src/resources/CMakeLists.txt
  src/resources/png/wizard_icon_autohome.png
  src/resources/png/wizard_icon_measure.png
  src/resources/png/wizard_icon_search.png
Due: clang-format

connect: Accept `path_sfn` parameters.
  src/connect/command.cpp
  tests/unit/connect/command.cpp
Due: clang-format

Marlin/motion: Move MMS_SCALED to upstream location
  lib/Marlin/Marlin/src/core/types.h
  lib/Marlin/Marlin/src/module/motion.h
Due: none

Marlin/utility: Update to 2.1.x
  lib/Marlin/Marlin/src/core/types.h
  lib/Marlin/Marlin/src/core/utility.cpp
  lib/Marlin/Marlin/src/core/utility.h
Due: none

Marlin/motion: Update SENSORLESS_HOMING from 2.1.x
  lib/Marlin/Marlin/src/inc/Conditionals_post.h
  lib/Marlin/Marlin/src/module/motion.cpp
  lib/Marlin/Marlin/src/module/motion.h
Due: none

Remove old unused icons for messagebox (error white48, info48, question48, warning48)
  src/common/client_response_texts.cpp
  src/gui/res/cc/png_error_white_48px.c
  src/gui/res/cc/png_info_48px.c
  src/gui/res/cc/png_question_48px.c
  src/gui/res/cc/png_warning_48px.c
  src/gui/res/png/error_white_48px.png
  src/gui/res/png/info_48px.png
  src/gui/res/png/question_48px.png
  src/gui/res/png/warning_48px.png
  src/gui/resource.c
  src/gui/resource.h
Due: clang-format

Marlin 2.1.x/2.0.x HAS_AUTO_REPORTING compatibility fix
  lib/Marlin/Marlin/src/core/utility.cpp
  lib/Marlin/Marlin/src/inc/Conditionals_post.h
Due: none

Marlin/conditionals: Move COREXY block to final location
  lib/Marlin/Marlin/src/inc/Conditionals_LCD.h
  lib/Marlin/Marlin/src/inc/Conditionals_post.h
Due: none

Increase lwip UDP PCB mem pool
  include/buddy/lwipopts.h
Due: clang-format
