Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/dragomirecky/cmake-format-pre-commit-hook
  rev: 'v0.6.0'
  hooks:
    - id: cmake-format  # cmake formatter
      files: (^|/)(CMakeLists.*|.*\.cmake|.*\.cmake.in)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: 'v0.27.0'
  hooks:
    - id: yapf  # python formatter
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      description: This hook automatically checks and reformats changed files using clang-format formatter.
      entry: './.dependencies/clang-format-9.0.0-noext/clang-format'
      language: script
      files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      args: ['-i', '-style=file']
    - id: generate-cmake-presets
      name: generate-cmake-presets
      description: This hook generates CMakePresets.json file based on utils/presets/presets.json
      entry: python utils/build.py --generate-cmake-presets --generate-bbf
      files: (^|/)(.*.json)$
      pass_filenames: false
      language: python
      language_version: python3
    - id: generate-log-components-overview
      name: log-components-doc-generate
      description: This hook generate an overview of currently defined Log Components.
      entry: python utils/logging/generate_overview.py
      language: python
      language_version: python3
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v2.4.0'
  hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
exclude: |
  (?x)(
    ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
    ^lib/printf|
    ^lib/inih/|
    ^lib/Marlin/|
    ^lib/Prusa-Error-Codes/|
    ^lib/TMCStepper/|
    ^lib/Middlewares/Third_Party/LwIP/|
    ^lib/jsmn/|
    ^lib/ESP/serial-flasher/|
    ^lib/ESP/lwesp/|
    ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
    ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
    ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
    ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
    ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
    ^lib/Catch2/|
    ^lib/libsysbase/|
    ^lib/Segger|
    ^lib/tinyusb|
    ^lib/Middlewares/Third_Party/littlefs/|
    ^lib/Middlewares/Third_Party/mbedtls/
  )

Add M604 to cancel print from octoprint
  lib/Marlin/Marlin/src/gcode/gcode.cpp
  lib/Marlin/Marlin/src/gcode/gcode.h
  src/marlin_stubs/host/CMakeLists.txt
  src/marlin_stubs/host/M604.cpp
Due: clang-format

Implement screen_printing information swapping
  src/gui/print_time_module.cpp
  src/gui/print_time_module.hpp
  src/gui/screen_printing.cpp
  src/gui/screen_printing.hpp
Due: clang-format

usb/cdc: Implement CDC safety timeout
  lib/Arduino_Core_Buddy/cores/arduino/USBSerial.cpp
  lib/Arduino_Core_Buddy/cores/arduino/USBSerial.h
Due: clang-format

iX: Use option::has_human_interactions instead of printer model.
  src/marlin_stubs/pause/M701_2.cpp
Due: clang-format

mk3.5: Setup default PID constants according to the autotune results
  include/marlin/Configuration_MK3.5.h
Due: clang-format

Marlin: Fix PID autotune
  lib/Marlin/Marlin/src/feature/power.cpp
  lib/Marlin/Marlin/src/module/temperature.cpp
Due: none

New end result showing on screen printing
  src/gui/screen_printing.cpp
  src/gui/screen_printing.hpp
Due: clang-format

fix: Move filament unloads into separate states in marlin server
  lib/WUI/link_content/basic_gets.cpp
  src/common/marlin_server.cpp
  src/common/marlin_server_shared.h
  src/gui/screen_printing.cpp
  src/state/printer_state.cpp
Due: clang-format

Add a separate index for consumed material setting To handle skipped tools in gcode correctly
  src/gui/screen_printing.cpp
Due: clang-format

Websockets (low-level)
  src/common/http/CMakeLists.txt
  src/common/http/connect_error.cpp
  src/common/http/connect_error.h
  src/common/http/connection.cpp
  src/common/http/connection.hpp
  src/common/http/httpc.hpp
  src/common/http/types.h
  src/common/http/websocket.cpp
  src/common/http/websocket.hpp
Due: clang-format

Add set functions to Rect16
  src/guiapi/include/Rect16.h
Due: clang-format

mmu: Safely unload filament after single filament gcode print with MMU
  src/common/marlin_server.cpp
Due: clang-format

fix: Safely unload filament when the print is aborted
  src/common/marlin_server.cpp
Due: clang-format

Serial printing screen has stop button instead of full disconnect
  src/common/serial_printing.cpp
  src/gui/screen_printing_serial.cpp
Due: clang-format

Add wipe tower info to end result
  src/gui/screen_printing.cpp
  src/gui/screen_printing.hpp
Due: clang-format

Parse wipe tower grams with gcode_info
  src/common/gcode/gcode_info.cpp
  src/common/gcode/gcode_info.hpp
Due: clang-format

M604 docs
  lib/Marlin/Marlin/src/gcode/gcode.cpp
  lib/Marlin/Marlin/src/gcode/gcode.h
  src/marlin_stubs/host/M604.cpp
Due: clang-format

Rename Wipe tower to Prime tower in XL end screen
  src/gui/screen_printing.cpp
Due: clang-format

loadcell: Disable HX717 lost-sample assertion by default when debugging
  src/common/hx717mux.cpp
  src/common/loadcell.cpp
Due: clang-format

mini: Fix filament sensor being disabled by default
  src/persistent_stores/store_instances/config_store/defaults.hpp
  src/persistent_stores/store_instances/config_store/store_definition.hpp
Due: clang-format

Prevent watchdog reset during power panic
  include/marlin/Configuration_MINI_adv.h
  include/marlin/Configuration_MK3.5_adv.h
  include/marlin/Configuration_MK4_adv.h
  include/marlin/Configuration_XL_adv.h
  src/common/power_panic.cpp
Due: clang-format

mini: Fix "Happy Printing" dialog layout
  src/guiapi/src/window_msgbox.cpp
Due: clang-format

Change end screen left arrow to match the right
  src/gui/res/png/arrow_left_10x16.png
  src/gui/screen_printing.cpp
Due: clang-format

Multitool information for connect.
  src/common/print_utils.cpp
  src/common/print_utils.hpp
  src/common/tools_mapping.cpp
  src/connect/marlin_printer.cpp
  src/connect/printer.cpp
  src/connect/printer.hpp
  src/connect/render.cpp
  src/connect/render.hpp
  src/gui/mmu2_toolchanger_common.hpp
  src/gui/screen_tools_mapping.cpp
  tests/unit/connect/mock_printer.h
  tests/unit/connect/printer.cpp
  tests/unit/connect/render.cpp
Due: clang-format

fix: Properly disable button click on end screen
  src/gui/screen_printing.cpp
Due: clang-format

connect: Talk over a websocket
  ProjectOptions.cmake
  src/common/http/httpc.cpp
  src/common/http/httpc.hpp
  src/common/http/websocket.hpp
  src/connect/connect.cpp
  src/connect/connect.hpp
Due: clang-format

Update translations as receied from content
  src/lang/po/Prusa-Firmware-Buddy.pot
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/en/Prusa-Firmware-Buddy_en.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

fix: Don't unload filament on abort without MMU
  src/common/marlin_server.cpp
Due: clang-format

Fix wrong english text
  src/gui/dialogs/window_dlg_strong_warning.hpp
Due: clang-format

Fix \n in provided translations
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Remove wierd characters from provided translations
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
Due: none

Remove unused HAL includes
  src/common/ExtInterruptHandler.cpp
  src/common/i2c.cpp
Due: clang-format

Avoid FSM BSOD in specific situation
  src/common/marlin_server.cpp
Due: clang-format

Update fonts
  src/gui/res/cc/font_bold_11x19.hpp
  src/gui/res/cc/font_bold_13x22.hpp
  src/gui/res/cc/font_bold_30x53.hpp
  src/gui/res/cc/font_regular_11x18.hpp
  src/gui/res/cc/font_regular_7x13.hpp
  src/gui/res/cc/font_regular_9x16.hpp
  src/gui/res/fnt_png/font_bold_11x19.png
  src/gui/res/fnt_png/font_bold_11x19_preview.png
  src/gui/res/fnt_png/font_bold_13x22.png
  src/gui/res/fnt_png/font_bold_13x22_preview.png
  src/gui/res/fnt_png/font_bold_30x53.png
  src/gui/res/fnt_png/font_bold_30x53_preview.png
  src/gui/res/fnt_png/font_regular_11x18.png
  src/gui/res/fnt_png/font_regular_11x18_preview.png
  src/gui/res/fnt_png/font_regular_7x13.png
  src/gui/res/fnt_png/font_regular_7x13_preview.png
  src/gui/res/fnt_png/font_regular_9x16.png
  src/gui/res/fnt_png/font_regular_9x16_preview.png
  src/guiapi/include/fnt-indices.ipp
Due: clang-format

Fix capitals in CZ selftest
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
Due: none

MINI: Create multiple variants, each with just ONE language
  CMakePresets.json
  utils/holly/build-pr.jenkins
  utils/presets/presets.json
Due: generate-cmake-presets

Cleanup translations, generate .mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Remove outdated translations
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.mo
  src/lang/po/cs/Prusa-Firmware-Buddy_cs.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.mo
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
  src/lang/po/es/Prusa-Firmware-Buddy_es.mo
  src/lang/po/es/Prusa-Firmware-Buddy_es.po
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.mo
  src/lang/po/fr/Prusa-Firmware-Buddy_fr.po
  src/lang/po/it/Prusa-Firmware-Buddy_it.mo
  src/lang/po/it/Prusa-Firmware-Buddy_it.po
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.mo
  src/lang/po/pl/Prusa-Firmware-Buddy_pl.po
Due: none

Remove unused EN translation
  src/lang/po/en/Prusa-Firmware-Buddy_en.po
Due: none
