Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-9.0.0-noext/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

Send basic mmu info to connect
  src/connect/marlin_printer.cpp
  src/connect/printer.hpp
  src/connect/render.cpp
  src/connect/render.hpp
  tests/unit/connect/render.cpp
Due: clang-format

planner: Fix block_t::position comment and rename
  lib/Marlin/Marlin/src/feature/precise_stepping/precise_stepping.cpp
  lib/Marlin/Marlin/src/module/planner.cpp
  lib/Marlin/Marlin/src/module/planner.h
Due: none

doc: Add contributing.md
  doc/contributing.md
Due: none

Add option to skip preprint preview thumbnail but not toolmapping
  lib/WUI/wui_api.cpp
  src/common/marlin_client.cpp
  src/common/marlin_client.hpp
  src/common/marlin_events.h
  src/common/marlin_print_preview.cpp
  src/common/marlin_print_preview.hpp
  src/common/marlin_server.cpp
  src/common/marlin_server.hpp
  src/common/print_utils.cpp
  src/common/print_utils.hpp
  src/connect/marlin_printer.cpp
  src/gui/screen_filebrowser.cpp
  src/gui/screen_home.cpp
  src/gui/screen_printing.cpp
  src/transfers/transfer.cpp
  tests/unit/connect/missing_functions.cpp
Due: clang-format

Only warn on failed gear test
  src/gui/box_unfinished_selftest.cpp
Due: clang-format

wdt: Rename .h to .hpp and remove extern "C"
  src/buddy/main.cpp
  src/buddy/timing_sys.cpp
  src/common/MindaRedscreen.cpp
  src/common/bsod_gui.cpp
  src/common/crash_dump/dump.cpp
  src/common/marlin_server.cpp
  src/common/minda_broken_cable_detection.cpp
  src/common/power_panic.cpp
  src/common/wdt.cpp
  src/common/wdt.hpp
  src/device/stm32f4/interrupts.cpp
  src/gui/guimain.cpp
  src/hw/at21csxx.cpp
  src/hw/at21csxx_otp.cpp
Due: clang-format

Extend transfers::is_valid_transfer
  src/gui/file_sort.cpp
  src/transfers/transfer_file_check.cpp
  src/transfers/transfer_file_check.hpp
  tests/unit/gui/lazyfilelist/missing_functions.cpp
  tests/unit/lib/WUI/nhttp/transfer_mock.cpp
Due: clang-format

Adding Snake to MK3.5 & MINI (FirstLayer included)
  ProjectOptions.cmake
  src/common/marlin_print_preview.cpp
  src/gui/box_unfinished_selftest.cpp
  src/gui/include_MINI/selftest_snake_config.cpp
  src/gui/include_MINI/selftest_snake_config.hpp
  src/gui/include_MINI/selftest_snake_submenus.cpp
  src/gui/include_MK3.5/selftest_snake_config.cpp
  src/gui/include_MK3.5/selftest_snake_config.hpp
  src/gui/res/mini_used_imgs.txt
  src/gui/screen_home.cpp
  src/gui/screen_menu_control.hpp
Due: clang-format

hwio: Remove dead code
  src/common/appmain.cpp
  src/common/hwio.h
  src/common/hwio_XLBuddy.cpp
  src/common/hwio_buddy_2209_02.cpp
Due: clang-format

Improve LazyDirView
  src/gui/file_sort.cpp
  src/gui/file_sort.hpp
  src/gui/lazyfilelist.cpp
  src/gui/lazyfilelist.hpp
  src/gui/screen_home.cpp
  src/gui/window_file_list.cpp
  tests/unit/gui/lazyfilelist/tests.cpp
Due: clang-format

doc: Link doc/contributing from README.md, deduplicate information
  README.md
  doc/contributing.md
Due: none

doc: Define style to use for class-level constants and enum class items
  doc/contributing.md
Due: none

doc: Minor fixes to contributing.md
  doc/contributing.md
Due: none

Remove unused Pause::plan_e_move_notify_progress
  src/marlin_stubs/include/pause_stubbed.hpp
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

Rename Pause::wait_or_stop to Pause::wait_for_motion_finish_or_user_stop
  src/marlin_stubs/include/pause_stubbed.hpp
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

clang-format: Set InsertBraces: true
  .clang-format
Due: none

Extend RAII::AutoRestore
  src/common/RAII.hpp
Due: clang-format

Update Pause to use mapi::extruder_move
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

Fix bed leveling not applied to unpark move
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

Update mapi::extruder_move to return bool
  src/common/mapi/motion.cpp
  src/common/mapi/motion.hpp
Due: clang-format

Improve transfers::is_transfer
  src/transfers/transfer_file_check.cpp
Due: clang-format

Define configUSE_NEWLIB_REENTRANT=1 in FreeRTOSConfig.h instead of CMakeLists.txt
  CMakeLists.txt
  include/stm32f4_hal/FreeRTOSConfig.h
  include/stm32g0_hal/FreeRTOSConfig.h
Due: clang-format

Increase PlainGCodeReader::header_metadata_size
  src/common/gcode/gcode_reader.hpp
Due: clang-format

Fix being stuck on downloading screen for unexisting file
  src/common/gcode/gcode_info.cpp
  src/common/marlin_print_preview.cpp
Due: clang-format

Removal of unnecessary extern "C" linkage in media.h
  src/buddy/main.cpp
  src/buddy/usb_host.cpp
  src/common/app_metrics.cpp
  src/common/marlin_print_preview.cpp
  src/common/marlin_server.cpp
  src/common/media.cpp
  src/common/media.hpp
  src/common/power_panic.cpp
  src/common/print_utils.cpp
  src/gui/dialogs/print_progress.cpp
  src/marlin_stubs/sdcard/M20-M30_M32-M34.cpp
Due: clang-format

Add documentation comments to Pause::e_move functions
  src/marlin_stubs/include/pause_stubbed.hpp
Due: clang-format

freertos::Queue memory optimizition
  include/common/freertos_queue.hpp
Due: clang-format

Fix footer migration from xl 4.7.0-4.7.2
  src/persistent_stores/store_instances/config_store/migrations.cpp
  src/persistent_stores/store_instances/config_store/migrations.hpp
Due: clang-format

A C++ interface for FreeRTOS static queues
  include/common/freertos_queue.hpp
  tests/unit/common/CMakeLists.txt
  tests/unit/common/freertos/CMakeLists.txt
  tests/unit/common/freertos/queue.cpp
Due: clang-format

xl multi: Revert menu index when returning to filament menu
  src/gui/screen_menu_filament.cpp
Due: clang-format

Enable languages, add flag images
  ProjectOptions.cmake
  src/gui/res/mini_used_imgs.txt
Due: none

Fix when user is too fast during loadcell test Don't allow user to click continue too soon
  src/common/selftest/selftest_loadcell.cpp
Due: clang-format

Prevent FSM race when exiting print and autoload at the same time
  src/common/marlin_server.cpp
Due: clang-format

Fix load/unload to end with false on timeout and disable hotend
  src/marlin_stubs/pause/M701_2.cpp
  src/marlin_stubs/pause/pause.cpp
Due: clang-format

Make a function from a decoding lambda
  src/common/footer_eeprom.cpp
  src/common/footer_eeprom.hpp
  src/persistent_stores/store_instances/config_store/old_eeprom/last_migration.cpp
Due: clang-format

Add MCU temperature to MINI's sensor info screen
  src/common/sensor_data_buffer.cpp
  src/common/sensor_data_buffer.hpp
  src/gui/include_MINI/screen_menu_sensor_info_parent_alias.hpp
  src/gui/screen_menu_sensor_info_MINI.cpp
Due: clang-format

Add mini font source file, regenerate all fonts
  src/gui/fonts.cpp
  src/gui/res/cc/font_11x18.hpp
  src/gui/res/cc/font_13x22.hpp
  src/gui/res/cc/font_bold_11x19.hpp
  src/gui/res/cc/font_bold_13x22.hpp
  src/gui/res/cc/font_bold_30x53.hpp
  src/gui/res/cc/font_regular_11x18.hpp
  src/gui/res/cc/font_regular_7x13.hpp
  src/gui/res/cc/font_regular_9x16.hpp
  src/gui/res/fnt_png/font_11x18.png
  src/gui/res/fnt_png/font_11x18_preview.png
  src/gui/res/fnt_png/font_12x21.png
  src/gui/res/fnt_png/font_12x21_preview.png
  src/gui/res/fnt_png/font_7x13.png
  src/gui/res/fnt_png/font_7x13_preview.png
  src/gui/res/fnt_png/font_bold_11x19.png
  src/gui/res/fnt_png/font_bold_11x19_preview.png
  src/gui/res/fnt_png/font_bold_13x22.png
  src/gui/res/fnt_png/font_bold_13x22_preview.png
  src/gui/res/fnt_png/font_bold_30x53.png
  src/gui/res/fnt_png/font_bold_30x53_preview.png
  src/gui/res/fnt_png/font_regular_11x18.png
  src/gui/res/fnt_png/font_regular_11x18_preview.png
  src/gui/res/fnt_png/font_regular_7x13.png
  src/gui/res/fnt_png/font_regular_7x13_preview.png
  src/gui/res/fnt_png/font_regular_9x16.png
  src/gui/res/fnt_png/font_regular_9x16_preview.png
  src/gui/res/fnt_src/font_11x18_v2_1px_shift_up_complete_regular_11x18.png
  src/gui/res/fnt_src/font_7x13_v2_complete_regular_7x13.png
  src/gui/screen_home.cpp
  src/guiapi/include/fnt-indices.ipp
Due: clang-format

Configurable languages, mini compiles 3 variants with different languages
  CMakePresets.json
  ProjectOptions.cmake
  src/gui/screen_menu_languages.cpp
  src/gui/screen_menu_languages.hpp
  src/lang/CMakeLists.txt
  src/lang/translation_provider_CPUFLASH.cpp
  src/lang/translation_provider_FILE.cpp
  src/resources/CMakeLists.txt
  utils/holly/build-pr.jenkins
  utils/presets/presets.json
Due: clang-format, generate-cmake-presets

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

