Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-9.0.0-noext/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

URL percent decoding of file names to upload.
  lib/WUI/nhttp/req_parser.cpp
  lib/WUI/nhttp/req_parser.h
  src/common/http/CMakeLists.txt
  src/common/http/url_decode.cpp
  src/common/http/url_decode.h
  tests/unit/common/CMakeLists.txt
  tests/unit/common/url_decode_tests.cpp
  tests/unit/lib/WUI/nhttp/CMakeLists.txt
  tests/unit/lib/WUI/nhttp/req_parser_tests.cpp
Due: clang-format

ccls: Bump linting to cpp20
  .vscode/settings.json
Due: generate-cmake-presets

Redscreen: Add comments and erase unused code
  src/common/bsod.h
  src/common/bsod_gui.cpp
  src/common/bsod_nogui.cpp
  src/gui/guimain.cpp
  src/gui/screen_qr_error.cpp
  src/gui/screen_qr_error.hpp
Due: clang-format

gui: Add menu scrollbar
  src/gui/ScreenFactory.hpp
  src/guiapi/include/window_menu_adv.hpp
  src/guiapi/include/window_menu_bar.hpp
  src/guiapi/src/CMakeLists.txt
  src/guiapi/src/window_menu_adv.cpp
  src/guiapi/src/window_menu_bar.cpp
Due: clang-format

gui: Menu: handle visibility in container
  src/guiapi/include/IWinMenuContainer.hpp
  src/guiapi/include/WinMenuContainer.hpp
  src/guiapi/include/window_menu.hpp
  src/guiapi/src/window_menu.cpp
Due: clang-format

gui: Make text rolling more ram efficient
  src/guiapi/include/text_roll.hpp
Due: clang-format

gui: Fix defaults
  src/gui/screen_menu_steel_sheets.cpp
  src/guiapi/include/GuiDefaults.hpp
  src/guiapi/include/WindowItemFormatableLabel.hpp
  src/guiapi/include/WindowMenuSpin.hpp
  src/guiapi/include/WindowMenuSwitch.hpp
  src/guiapi/src/IWindowMenuItem.cpp
  src/guiapi/src/window_menu.cpp
  src/guiconfig/guiconfig.h
  tests/unit/gui/window/guiconfig.h
Due: clang-format

gui: Make some rect methods constexpr
  src/guiapi/include/Rect16.h
Due: clang-format

gui: Split menu in 2 classes
  src/gui/dialogs/DialogMoveZ.hpp
  src/gui/screen_menu.hpp
  src/gui/screen_menu_sensor_info.cpp
  src/guiapi/include/IWinMenuContainer.hpp
  src/guiapi/include/IWindowMenuItem.hpp
  src/guiapi/include/WinMenuContainer.hpp
  src/guiapi/include/guitypes.hpp
  src/guiapi/include/window_menu.hpp
  src/guiapi/include/window_menu_adv.hpp
  src/guiapi/src/CMakeLists.txt
  src/guiapi/src/IWindowMenuItem.cpp
  src/guiapi/src/window_menu.cpp
  src/guiapi/src/window_menu_adv.cpp
Due: clang-format

Alter texts of filament_not_inserted dialog
  src/common/client_response.cpp
  src/common/client_response_texts.cpp
  src/common/general_response.hpp
  src/common/marlin_print_preview.cpp
  src/gui/screen_print_preview.cpp
  src/gui/screen_print_preview.hpp
  src/guiapi/include/window_msgbox.hpp
Due: clang-format

Segmented JSON: Descending into sub renderers
  src/common/segmented_json.cpp
  src/common/segmented_json.h
  src/common/segmented_json_macros.h
  tests/unit/common/segmented_json_rendering.cpp
Due: clang-format

vscode: Make launch config names debugger neutral
  .vscode/launch.json
Due: generate-cmake-presets

Update simulator binaries
  utils/bootstrap.py
Due: none

openocd: Connect under reset
  utils/debug/20_board_buddy.cfg
Due: none

vscode: Add Launch MINI Simulator config
  .vscode/launch.json
  .vscode/make_memory_file.py
  .vscode/prepare_simulator_dir.py
  .vscode/tasks.json
Due: generate-cmake-presets

vscode: Allow automatic tasks
  .vscode/settings.json
Due: generate-cmake-presets

Gcode decoder: Allow base64 pass-through.
  lib/WUI/nhttp/gcode_preview.cpp
  src/common/gcode_info.cpp
  src/common/gcode_thumb_decoder.cpp
  src/common/gcode_thumb_decoder.h
  src/guiapi/src/window_icon.cpp
Due: clang-format

Fix error: SoftwareSerial.h: No such file or directory
  lib/TMCStepper/src/TMCStepper.h
Due: none

Connect: Send previews
  src/connect/render.cpp
  src/connect/render.hpp
  tests/unit/connect/CMakeLists.txt
Due: clang-format

Fix error "Unsupported Platform!"
  CMakeLists.txt
  lib/Arduino_Core_Buddy/cores/arduino/Arduino.h
Due: clang-format

fix error: Servo.h: No such file or directory
  lib/Arduino_Core_Buddy/cores/arduino/Servo.h
Due: clang-format

Order alphabeticaly
  src/common/client_response_texts.cpp
  src/common/general_response.hpp
Due: clang-format

Switch redscreen evoking after reset to qr_error
  src/gui/CMakeLists.txt
  src/gui/guimain.cpp
  src/gui/screen_qr_error.cpp
  src/gui/screen_temperror.cpp
  src/gui/screen_temperror.hpp
Due: clang-format

Adjust inheriting screen_reset_error_t
  src/gui/screen_reset_error.cpp
  src/gui/screen_reset_error.hpp
Due: clang-format

Align properly MINI redscreen
  src/gui/screen_qr_error.cpp
  src/gui/screen_qr_error.hpp
Due: clang-format

Add getters to window_qrs QRcode buffer
  src/gui/screen_qr_error.cpp
  src/gui/screen_qr_error.hpp
  src/guiapi/include/window_qr.hpp
  src/guiapi/src/window_qr.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

