Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-9.0.0-noext/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

preheat: Fix temperature add table for materials
  src/common/filament.cpp
  src/common/filament.hpp
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/wizard/firstlay.cpp
  src/marlin_stubs/pause/M701_2.cpp
  src/marlin_stubs/pause/M70X_preheat.cpp
Due: clang-format

ESP: Once detected as OK, never report as unflashed
  lib/WUI/espif.cpp
Due: clang-format

gui: Make green preheat footer temperature work for any target not only 170°C
  src/gui/footer/footer_items_heaters.cpp
  src/gui/footer/footer_items_heaters.hpp
  src/gui/footer/footer_items_nozzle_bed.cpp
Due: clang-format

Update Prusa-Firmware-Buddy_de.po
  src/lang/po/de/Prusa-Firmware-Buddy_de.po
Due: none

Make FILE* a usable source of image data for window_icon_t
  src/gui/ScreenSelftest.hpp
  src/gui/resource.h
  src/gui/screen_menu_fw_update.cpp
  src/guiapi/include/WindowMenuSwitch.hpp
  src/guiapi/include/window.hpp
  src/guiapi/include/window_icon.hpp
  src/guiapi/src/display_ex.cpp
  src/guiapi/src/window_icon.cpp
  tests/unit/CMakeLists.txt
  tests/unit/gui/CMakeLists.txt
  tests/unit/gui/jogwheel/CMakeLists.txt
  tests/unit/gui/lazyfilelist/CMakeLists.txt
  tests/unit/gui/window/CMakeLists.txt
  tests/unit/gui/window/mock_windows.hpp
  tests/unit/gui/wizard/CMakeLists.txt
Due: clang-format

Http client: Extract the command ID
  src/Connect/httpc.cpp
  src/Connect/httpc.hpp
  src/Connect/resp_parser.cpp
  src/Connect/resp_parser.h
  tests/unit/connect/http_client.cpp
  utils/gen-automata/http_client.py
Due: clang-format

connect: Plumbing commands around
  src/Connect/connect.cpp
  src/Connect/connect.hpp
  src/Connect/planner.cpp
  src/Connect/planner.hpp
  tests/unit/connect/planner.cpp
Due: clang-format

http client: Parse interesting content types
  lib/WUI/nhttp/headers.cpp
  src/Connect/connect.cpp
  src/Connect/httpc.cpp
  src/Connect/httpc.hpp
  src/Connect/resp_parser.cpp
  src/Connect/resp_parser.h
  src/common/CMakeLists.txt
  src/common/http/CMakeLists.txt
  src/common/http/types.cpp
  src/common/http/types.h
  tests/unit/connect/CMakeLists.txt
  tests/unit/connect/http_client.cpp
  tests/unit/lib/WUI/nhttp/CMakeLists.txt
  utils/gen-automata/http.py
  utils/gen-automata/http_client.py
Due: clang-format

PrusaLink update
  src/resources/CMakeLists.txt
  src/resources/web/index.html
  src/resources/web/main.77a2a5989f980e626c6f.js
  src/resources/web/main.948afd229701ae536d26.css
  src/resources/web/main.976038a64a42bac7461d.js
  src/resources/web/main.a0710e06cbc7ab353115.css
Due: none

cmake: Increase required CMake version to 3.22
  CMakeLists.txt
  utils/bootstrap.py
  utils/holly/build-pr.jenkins
Due: none

cmake: Remove no-longer-necessary set of the GENERATED flag
  CMakeLists.txt
Due: none

Add notes to facilitate tap device testing
  README.md
Due: none

vscode: Update CMake location/version in vscode settings
  .vscode/settings.json
Due: generate-cmake-presets

Add support for loading PHA filament
  src/common/client_response.cpp
  src/common/client_response_texts.cpp
  src/common/filament.cpp
  src/common/filament.hpp
  src/common/general_response.hpp
  src/gui/dialogs/window_dlg_preheat.hpp
Due: clang-format

Connect: First shot at command parsing
  lib/WUI/nhttp/file_command.cpp
  lib/WUI/nhttp/job_command.cpp
  lib/WUI/nhttp/json_parser.h
  src/Connect/CMakeLists.txt
  src/Connect/command.cpp
  src/Connect/command.hpp
  src/Connect/connect.cpp
  src/Connect/connect_error.h
  src/Connect/planner.cpp
  src/Connect/planner.hpp
  src/common/search_json.h
  tests/stubs/jsmn_impl.c
  tests/unit/connect/CMakeLists.txt
  tests/unit/connect/command.cpp
  tests/unit/connect/planner.cpp
  tests/unit/lib/WUI/nhttp/CMakeLists.txt
Due: clang-format

Json parsing: new interface
  lib/WUI/nhttp/file_command.cpp
  lib/WUI/nhttp/job_command.cpp
  src/Connect/command.cpp
  src/common/search_json.h
Due: clang-format

Json parsing: properly process structures
  src/Connect/command.cpp
  src/common/search_json.h
  tests/unit/common/CMakeLists.txt
  tests/unit/common/search_json_test.cpp
  tests/unit/connect/command.cpp
  tests/unit/lib/WUI/nhttp/job_command_tests.cpp
Due: clang-format

Fix: Overwrite whole DataSourceId union on change, not only part
  src/gui/screen_splash.cpp
  src/gui/window_header.cpp
  src/guiapi/include/window_icon.hpp
  src/guiapi/src/window_icon.cpp
Due: clang-format

Migrate to GCC 10.3.1
  .vscode/settings.json
  lib/WUI/nhttp/file_command_marlin.cpp
  src/common/filament_sensor.hpp
  src/common/gcode_info.cpp
  src/common/include/fsensor_eeprom.hpp
  src/common/include/rtos_api.hpp
  src/gui/guimain.cpp
  src/libsysbase_syscalls.c
  src/marlin_stubs/include/pause_stubbed.hpp
  utils/bootstrap.py
Due: clang-format, generate-cmake-presets

vscode: Use different build dir per target type
  .vscode/launch.json
  CMakePresets.json
  Doxyfile
  utils/build.py
Due: generate-cmake-presets

Fix update to gcc 10
  .vscode/launch.json
  doc/editor/vscode.md
Due: generate-cmake-presets

Connect: fix compilation after gcc upgrade
  src/Connect/connect.cpp
Due: clang-format

PrusaLink: Avoid unnecessary calls to remove
  lib/WUI/nhttp/gcode_upload.cpp
  lib/WUI/nhttp/gcode_upload.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

