Repository prusa3d/Prusa-Firmware-Buddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, generate-cmake-presets

clang-format:
  name: clang-format
  description: This hook automatically checks and reformats changed files using clang-format formatter.
  entry: ./.dependencies/clang-format-9.0.0-noext/clang-format
  language: script
  args:
  - -i
  - -style=file

generate-cmake-presets:
  name: generate-cmake-presets
  description: This hook generates CMakePresets.json file based on utils/presets/presets.json
  entry: python utils/build.py --generate-cmake-presets --generate-bbf
  pass_filenames: false
  language: python
  language_version: python3

selftest: Rename printer specific subfolder
  src/common/selftest/CMakeLists.txt
  src/common/selftest/include_MINI/printer_selftest.hpp
Due: clang-format

gui: Refactor gui config
  src/common/SteelSheets.hpp
  src/gui/CMakeLists.txt
  src/gui/dialogs/liveadjust_z.cpp
  src/gui/include_MINI/gui_config_printer.hpp
  src/gui/menu_vars.cpp
Due: clang-format

gui: Fix configuration include in menu settings
  src/gui/screen_menu_settings.hpp
Due: clang-format

gui: Make version info mergeable
  src/gui/screen_menu_version_info.hpp
  src/gui/screen_menu_version_info_mini.hpp
Due: clang-format

gui: Name experimental menus correctly
  src/gui/CMakeLists.txt
  src/gui/screen_menu_experimental_settings.hpp
  src/gui/screen_menu_experimental_settings_release.cpp
  src/gui/screen_menu_experimental_settings_release.hpp
Due: clang-format

gui: Refactor menu calibration
  src/gui/include_MINI/screen_menu_calibration_parent_alias.hpp
  src/gui/screen_menu_calibration.cpp
  src/gui/screen_menu_calibration.hpp
Due: clang-format

gui: Make disabled selftest items if selftest is disabled
  src/gui/CMakeLists.txt
  src/gui/MItem_basic_selftest_disabled.cpp
Due: clang-format

gui: Improve sensor info portability
  src/gui/include_MINI/screen_menu_sensor_info_parent_alias.hpp
  src/gui/screen_menu_sensor_info.hpp
Due: clang-format

gui: Backport MI_EE_CLEAR
  src/gui/MItem_tools.cpp
  src/gui/MItem_tools.hpp
  src/gui/screen_menu_eeprom.hpp
Due: clang-format

gui: Fix default footer visibility
  src/gui/include_MINI/screen_menu_calibration_parent_alias.hpp
  src/gui/include_MINI/screen_menu_sensor_info_parent_alias.hpp
  src/gui/screen_menu_connect.hpp
  src/gui/screen_menu_eeprom.hpp
  src/gui/screen_menu_eeprom_diagnostics.hpp
  src/gui/screen_menu_experimental_settings_debug.hpp
  src/gui/screen_menu_experimental_settings_release.hpp
  src/gui/screen_menu_filament.hpp
  src/gui/screen_menu_hw_setup.hpp
  src/gui/screen_menu_lan_settings.hpp
  src/gui/screen_menu_network.hpp
  src/gui/screen_menu_settings.hpp
  src/gui/test/screen_menu_test.hpp
  src/guiapi/include/GuiDefaults.hpp
Due: clang-format

gui: Remove old incompatible C screens
  src/gui/CMakeLists.txt
  src/gui/screen_menu_service.cpp
  src/gui/test/screen_menu_test_temperature.cpp
Due: clang-format

gui: Backport and disable header icons
  src/gui/screen_menu_filament.cpp
  src/gui/screen_menu_info.cpp
  src/gui/screen_menu_move.cpp
  src/gui/screen_menu_settings.cpp
  src/gui/screen_menu_temperature.cpp
Due: clang-format

﻿Backup current state.
  .vscode/launch.json
  .vscode/tasks.json
  Dockerfile
  tests/integration/.vscode/settings.json
  tests/integration/conftest.py
  tests/integration/extra/timeout.py
  tests/integration/test_prusa_link.py
  utils/holly/build-pr.jenkins
  utils/simulator/simulator.py
Due: generate-cmake-presets

Supress uninit warning, no functional change.
  src/connect/planner.cpp
Due: clang-format

Add support for Integration tests with bootstrap.
  .vscode/launch.json
  .vscode/tasks.json
  Dockerfile
  pyproject.toml
  src/common/marlin_server.cpp
  src/common/marlin_server.h
  src/common/print_utils.cpp
  src/gui/window_header.cpp
  tests/integration/.vscode/settings.json
  tests/integration/actions/screen.py
  tests/integration/conftest.py
  tests/integration/extra/timeout.py
  tests/integration/test_prusa_link.py
  utils/holly/Dockerfile
  utils/holly/IntegrationTestsDockerfile
  utils/holly/build-pr.jenkins
  utils/simulator/printer.py
  utils/simulator/simulator.py
Due: clang-format, generate-cmake-presets

gui: Remove not existing screen from cmakelist
  src/gui/test/CMakeLists.txt
Due: none

Fix build with junction deviation enabled.
  lib/Marlin/Marlin/src/module/planner.cpp
Due: none

wui: Fix MARLIN_VAR_MSK_WUI
  lib/WUI/wui_api.cpp
  src/common/marlin_vars.h
  src/connect/marlin_printer.cpp
Due: clang-format

Add yes as continue action in selftest
  src/common/selftest/selftest_esp_update.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

  generate-cmake-presets: any of: (^|/)(.*.json)$, but not: (?x)(
  ^tests/unit/lang/translator/(keys|cs|es|fr|de|pl|it)\.txt$|
  ^lib/printf|
  ^lib/inih/|
  ^lib/Marlin/|
  ^lib/Prusa-Error-Codes/|
  ^lib/TMCStepper/|
  ^lib/Middlewares/Third_Party/LwIP/|
  ^lib/jsmn/|
  ^lib/ESP/serial-flasher/|
  ^lib/ESP/lwesp/|
  ^lib/ESP/prusa/src/serial-flasher/serial_comm.c|
  ^lib/ESP/prusa/include/sockets/lwesp_netbuf.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets.h|
  ^lib/ESP/prusa/include/sockets/lwesp_sockets_priv.h|
  ^lib/ESP/prusa/src/sockets/lwesp_netbuf.c|
  ^lib/ESP/prusa/src/sockets/lwesp_sockets.c|
  ^lib/Catch2/|
  ^lib/libsysbase/|
  ^lib/Segger|
  ^lib/tinyusb|
  ^lib/Middlewares/Third_Party/littlefs/|
  ^lib/Middlewares/Third_Party/mbedtls/
)

